[2015-02-05 00:15] jonathanolson opened #1 "Seems to lock up in fuzz testing"
Indicative of an infinite loop, or but that causes no input to be processed. It's happened multiple times during fuzzing, with ?ea&fuzzMouse=100.

[2015-02-07 20:52] pixelzoom opened #2 "issues with blackbody-spectrum.ThermometerNode"
First, it has this nonstandard requirejs import:

Second, it creates a specialization of ThermometerNode, but does do via composition instead of inheritance. It would be preferable in this case to use inheritance, and rename blackbody-spectrum ThermometerNode to something like BlackBodySpectrumThermometerNode or BBSThermometerNode.

Noticed while working on https://github.com/phetsims/scenery-phet

[2015-02-10 23:24] bereaphysics commented on #2
The BlackbodySpectrumThermometer uses inheritance from ThermometerNode instead of Node. Assigning to @pixelzoom for review

[2015-02-11 22:01] pixelzoom commented on #2
Looking good, closing.

[2015-02-11 22:01] #2 closed

[2015-02-25 00:17] pixelzoom opened #3 "possible problem with changing localBounds"
In GraphDrawingNode:

[code]

This code will likely become buggy when scenery bounds become mutable. Recommended to change `dilate` calls to `dilated`, so that you're operating on a copy of localBounds, and not localBounds themselves.

[2015-02-25 00:30] bereaphysics commented on #3
Thanks @pixelzoom. Change to dilated method instead. Closing

[2015-02-25 00:30] #3 closed

[2015-03-06 20:41] pixelzoom opened #4 "use PhetColorScheme.RED_COLORBLIND ?"
Looks like this sim has some red-on-black issues, caused by using 'red' color. Evaluate whether to use PhetColorScheme.RED_COLORBLIND.

[2015-06-25 14:54] pixelzoom opened #5 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-06-28 14:11] bereaphysics commented on #5
Task completed assigning to @pixelzoom for review.

[2015-06-29 15:28] pixelzoom commented on #5
Fixed formatting. Looks good, closing.

[2015-06-29 15:28] #5 closed

[2015-12-08 22:18] jonathanolson commented on #1
This is caused because reset-all doesn't reset the horizontal zoom, and you can get it to display upwards of 100,000+ tick marks fairly quickly. Since it's a stroke, Kite tries to compute the stroked bounds, which takes a WHILE.

Also has a 20% (approximate) chance of locking up automated testing.

[2016-01-07 20:03] pixelzoom opened #6 "add to active-runnables when development resumes"
Removed this sim from chipper/data/active-runnables until development resumes, so that we don't see issues with automated testing. Add it back in when development resumes.

[2016-03-09 16:44] samreid opened #7 "Make it possible to compute area under the curve"
I received this request from a Physics teacher

[2016-03-09 16:45] samreid commented on #7
@ariel-phet can you please review/delegate/prioritize and assign someone to write a response?  I'm not familiar with the physics for this situation.

[2016-03-09 19:50] ariel-phet commented on #7
@samreid please forward me the email, I will respond (note editing your initial comment to remove some info)

[2016-03-09 19:52] ariel-phet commented on #7
@samreid once you have forwarded the email, please clear assignee for this issue

[2016-03-09 19:57] samreid commented on #7
@ariel-phet I forwarded you the email, unassigning.

[2016-06-21 16:34] oliver-phet opened #8 "User suggestion: enhancements to graph"
I was thinking it would be nice to have the possibility of showing Wien's displacement law and Stefan law as well as having the electromagnetic spectrum (with typical sources of different spectral bands) as a bar under the x axis. X and Y axis units and ticks should be better visualized also.

[2016-07-21 17:02] veillette commented on #1
The horizontal zoom in and zoom out buttons get disabled if the client zoom in/out too many times (Only one of the zoom button gets disabled).
The reset button is now working.  I forgot to tag the commit.

[2016-07-21 17:06] veillette commented on #1
It does not lock up while fuzzMoussing. Closing.

[2016-07-21 17:06] #1 closed

[2016-08-29 19:24] pixelzoom opened #9 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-29 22:18] pixelzoom commented on #9
Reviewed sliders in sim, touchAreas look good as is, closing.

[2016-08-29 22:18] #9 closed

[2016-08-29 22:50] pixelzoom opened #10 "range for visible spectrum?"
GraphDrawingNode:

[code]

The range of the visible spectrum is actually defined in `scenery-phet.VisibleColor`:

[code]

So unless there's a reason for blackbody-spectrum to be truncating this range. Line 26 & 27 of GraphDrawingNode should be deleted.  And the instantiation of SpectrumNode at line 77 can be changed to this, since it defaults the visible spectrum:

[code]

[2016-12-06 23:06] pixelzoom opened #11 "convert from PropertySet to Property"
PropertySet is deprecated and should be replaced by Property, see phetsims/axon#102. Since this sim hasn't been published yet, this should be done before RC testing and publishing.

[2017-03-28 18:32] oliver-phet opened #12 "User question: slope, Wien's displacement"

[2017-03-28 19:21] veillette commented on #12
The simulation is correct (both flash and the Html5 prototype). The issue that the user encountered is due to some well documented misunderstanding. It is a rather subtle issue that has to do with the measure. of the distribution function. It is elaborated in more details in the following links

-http://physics.stackexchange.com/questions/211049/frequency-and-wavelength-peak-for-wiens-displaement-

[2017-03-30 12:27] veillette opened #13 "Reset All does not reset Zoom in/ Zoom Out buttons"
Noticed when changing from PropertySet to Property ( #11).

 In this sim, the approach to zoom in and zoom out uses a relative zoom (+1)/ (-1) that gets then reset to zero. As a result, there is no Property that keeps track of the absolute Zooming status, making it hard to reset the simulation.

[2017-03-30 12:32] veillette commented on #11
I forgot to tag the commit b4a860366c71851b2137f1648ed4d57e4cf6fd3a which resets the temperature property.

PropertySet was converted to Property. The reset button does not fully work because of the flawed approach used to Zoom in and out. Since this is tracked in an other issue (see #13) I'll close this one.

[2017-03-30 12:32] #11 closed

[2017-03-31 15:12] oliver-phet commented on #12
@veillette Thanks! Response to user sent. I'll reopen if they have questions.

[2017-03-31 15:12] #12 closed

[2017-12-08 20:58] jessegreenberg opened #14 "Uncaught TypeError: window.phetSplashScreenDownloadComplete is not a function"
[code]

caught while running test-server. Sim not in active-runnables so it isn't showing up in continuous testing.

[2017-12-22 23:23] samreid commented on #14
Fixed, closing.

[2017-12-22 23:23] #14 closed

[2018-01-11 19:28] pixelzoom opened #15 "quick code review"
This sim is being considered for a student project.  I'll do a "quick" (not formal or complete) code review to evaluate the state of this sim, then report back to @ariel-phet.

[2018-01-11 19:54] pixelzoom opened #16 "complete the credits"
... in blackbody-spectrum-main.js.

[2018-01-11 20:10] pixelzoom opened #17 "anti-pattern for propagating options"
Related to #15 code review.

This sim uses the following anti-pattern:

[code]

`options` should be passed via either the supertype constructor _or_ `mutate`, but not both.  Doing so can lead to problems, especially for transform-related or "cumulative" options.

I'll note these in the code by adding a `//TODO` comment that references this issue.

[2018-01-11 21:02] pixelzoom commented on #15
This sim is in good shape. I did a minor amount of cleanup in the above commits, and created 1 related issue (#17).

This is a relatively small sim (10 files, ~1300 lines of code), and it looks feature complete (or close to it).  Unless there are significant additional features to add, there's not much in the way of interesting development here.  It looks to me like it's close to being done, and j

[2018-01-12 19:04] ariel-phet commented on #15
@pixelzoom thanks. Seems more like a good starting project for a new internal intern. Clean this up, and get it published.

[2018-01-25 18:10] pixelzoom commented on #15
1/25/18 dev meeting:

@ariel-phet said that most of the work to be done is cosmetic and pixel polishing.

@jbphet asked me to add notes about anything else that I recommend cleaning up in the code.

[2018-01-30 17:31] DianaTavares commented on #8
For find easily the peak wavelenght, a checkbox "Peak values" was added
![screen shot 2018-01-30 at 10 27 58 am](https://user-images.githubusercontent.com/26031501/35581301-a2c6327c-05a8-11e8-9bba-47c17da4339e.png)

[2018-01-30 17:50] pixelzoom opened #18 "BlackbodySpectrumThermometer uses private knowledge about ThermometerNode"
Related to #15 (code review)...

In `BlackbodySpectrumThermometer`:

[code]

The comment "this function was reverse engineered from ThermometerNode in Scenery-Phet" is a red flag.  If it was reverse engineered, then changes to `ThermometerNode` may break this.   If would be better to add needed functionality to `ThermometerNode`.

[2018-01-30 17:53] pixelzoom opened #19 "break GraphDrawingNode into smaller building blocks"
Noted in #15 (code review)...

GraphDrawingNode is documented as:

`* Graph Node responsible for drawing axes, spectrum, zoom buttons, axe titles and graph`

It looks like the current implementation could definitely be broken up into smaller building blocks.  At 371 lines of code, it's a bit long.

[2018-01-30 17:55] pixelzoom commented on #15
@jbphet I recommend cleaning up #17, #18, #19 before turning this over to an intern.

[2018-01-30 18:49] DianaTavares commented on #8
electromagnetic spectrum bar under the axis. X
![screen shot 2018-01-30 at 11 48 56 am](https://user-images.githubusercontent.com/26031501/35584891-9b4ab242-05b3-11e8-94ca-4cc769e21276.png)

[2018-01-30 21:50] DianaTavares commented on #7
Proposal
![screen shot 2018-01-30 at 2 47 11 pm](https://user-images.githubusercontent.com/26031501/35593329-e1abd0d6-05cc-11e8-8f53-506946ea5559.png)

[2018-02-08 21:20] jbphet opened #20 "Clean up strings"
Running grunt currently produces warnings about missing strings.  If these are no longer needed they should be removed.

[2018-02-13 00:58] pixelzoom opened #21 "add blackbody-spectrum to testable-runnables"
When development resumes on this sim, it should be added to perennial/data/testable-runnables. Or perhaps it can be added now - I ran with `?ea&fuzzMouse` and didn't see any problems.

@phet-steele, what do you think?

[2018-02-13 17:50] phet-steele commented on #21
I do agree it's time to put the sim "to the test"! @jbphet is going to have @arnabp change the `automatedTestEnabled` flag in package.json to get it going.

[2018-02-13 17:54] pixelzoom commented on #21
![grunt](https://user-images.githubusercontent.com/3046552/36165301-47af1b6a-10ac-11e8-955b-685bc3a56c2a.jpg)

[2018-02-13 18:12] arnabp commented on #20
should be fixed now, closing

[2018-02-13 18:12] #20 closed

[2018-02-13 18:14] arnabp commented on #18
The function didn't seem like it was dependent on knowledge of ThermometerNode. Looks like the function used thermometer node methods as an outline, removed comment to avoid confusion. @pixelzoom Does this look okay to you or did you see something specific here?

[2018-02-13 18:16] arnabp commented on #17
Reviewed with @jbphet, closing.

[2018-02-13 18:16] #17 closed

[2018-02-13 19:57] phet-steele commented on #21
It's in with https://github.com/phetsims/blackbody-spectrum/commit/ba98dd67d726de9a7b309b4bca2ae8cf8bfe0b05

[2018-02-14 20:22] veillette commented on #18
@arnabp: I think that @pixelzoom  meant that this construction is inherently fragile since changes to private variables (that would affect say the layout of a thermometer) of ThermometerNode would break BlackbodySpectrumThermometer.

The temperatureToHeightLinearFunction could live within Thermometer node, such that a client could decorate a thermometer with tick marks without having to understand

[2018-02-14 21:09] pixelzoom commented on #18
Yes @veillette, exactly.  The purpose of this function is to determine where the tick marks are located, and that's a (currently internal) implementation detail of ThermometerNode.  If we need to determine where ticks are (or better yet, label ticks) that functionality should be provided by ThermometerNode.

[2018-03-07 17:06] phet-steele opened #22 "Error: Cannot normalize a zero-magnitude vector"
1. Increase horizontal (x-axis) to max
2. Drag temperature to its minimum

[code]

[2018-03-23 18:48] arnabp commented on #22
Continuous testing is stable, zero-magnitude vectors are now checked for.

[2018-03-23 18:48] #22 closed

[2018-04-09 15:14] phet-steele opened #23 "Assertion failed: y should be a finite number"
[code]

[2018-04-09 15:17] pixelzoom opened #24 "Automated testing failure: y should be a finite number"
This error occurs repeatedly during fuzz testing in the CT report:

Uncaught Error: Assertion failed: y should be a finite number
Error: Assertion failed: y should be a finite number
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1523228146488/assert/js/assert.js:22:13)
    at RichText.translate (https://bayes.colorado.edu/continuous-testing/snapsho

[2018-04-09 15:18] pixelzoom commented on #23
Duplicate of https://github.com/phetsims/blackbody-spectrum/issues/24.  Closing this issue since #24 contains more details.

[2018-04-09 15:18] #23 closed

[2018-04-09 15:24] phet-steele commented on #23
Hey! 😠

[2018-04-13 19:05] arnabp commented on #24
Added assertion to fix this. I'll have to go back at and look through to find any other variables that weren't named well when the sim was initially created.

[2018-04-13 19:05] #24 closed

[2018-04-13 20:37] arnabp opened #25 "Where to put intensity label when curve moves off screen"
In the [latest dev build](https://bayes.colorado.edu/dev/html/blackbody-spectrum/1.0.0-dev.4/phet/blackbody-spectrum_en_phet.html) I've run into some trouble with where to put the text label when the curve becomes too large or too small.

The current implementation has the text stop when it hits the right border of the graph (when temperature becomes too small, or graph is zoomed in to the left of

[2018-04-13 21:37] DianaTavares commented on #25
In my opinion:

 I like the actual behavior that you create: when the curve get smaller, the user can still read the text and it move to the peak position to the corner of the graph, but I think that may be good idea to add a little arrow close to the number when the peak is out of the graph values, because I think that give an idea to the user of use the zooms elements to see the peak position.
!

[2018-04-30 20:58] ariel-phet commented on #25
Seems like this would be good to discuss at design meeting. I will talk with @DianaTavares for some various ideas

[2018-05-22 16:57] jbphet commented on #15
One of the three issues listed in the comment above has been addressed, but the other two have not been.  Work on this sim is on hold for a while, so I'm unassigning until work resumes.

[2018-06-20 20:05] andrealin opened #26 "MovableLabRuler can be deleted"
Seems like `js/black-body-spectrum/view/MovableLabRuler.js` can be deleted. The design document says that this sim will not have the ruler like the original sim did. Also, `MovableLabRuler` isn't used anywhere in blackbody-spectrum.

[2018-06-21 22:38] andrealin commented on #7
In master, area under the curve has been computed and displayed according to the mockup [above.](https://github.com/phetsims/blackbody-spectrum/issues/7#issuecomment-361746293)

There was a discussion about where to put the label in https://github.com/phetsims/blackbody-spectrum/issues/25, but I believe this issue here can be closed. Assigning to @jbphet to review and close.

[2018-06-26 21:08] andrealin commented on #26
Assigning to @SaurabhTotey. Once you've removed the file, feel free to close this issue.

[2018-06-27 17:05] #26 closed

[2018-06-28 22:50] jbphet commented on #13
I checked the behavior on master and it is definitely resetting now, and I looked at the implementation and it looks reasonable.  Closing.

[2018-06-28 22:50] #13 closed

[2018-06-28 22:52] jbphet commented on #7
@samreid - do you have the address of the teacher who sent you the request?  Don't put it in your response (since this is public), but if you do have the address, I'd like to leave this issue open and deferred until publication, and which point it would be nice to follow up and let the teacher know that the feature exists.

[2018-06-28 23:37] jbphet commented on #4
I think it would be inappropriate to use RED_COLORBLIND for the spectrum or the B-G-R displays, since the actual color value is meaningful in this context.  That leaves the line on the graph and the contents of the thermometer.  I tried changing both to RED_COLORBLIND, and in my opinion it looked pretty good for the line on the graph, but it didn't look good for the thermometer and it didn't look

[2018-06-29 17:23] samreid commented on #7
Yep, I can still reach out to the teacher who suggested this.

@SaurabhTotey for future commits, please reference the issue in the commit message, so the work shows up in the thread.  For example, see: https://github.com/phetsims/area-model-common/issues/130

[2018-06-29 17:39] jbphet commented on #7
Added label 'fixed-awaiting-deploy', which is perhaps a bit unusual for an unpublished sim, but I want to leave this open and unassigned once all work on it is complete so that we remember to let the teacher know once the HTML5 sim with this feature is published.

[2018-07-02 21:32] andrealin opened #27 "Make temperature cueing arrows easier to see"
Can we adjust the look of the temperature cueing arrows to make them more visible? @kathy-phet and @jbphet suggested that when we were briefly looking the sim.

[2018-07-02 21:42] andrealin commented on #27
@SaurabhTotey I was playing around with colors and `'#64dc64'` is a nice green color that is slightly brighter than `'green'`

[2018-07-06 17:37] SaurabhTotey commented on #27
Ok, I changed the color to the one that was recommended. Does it look good now?

[2018-07-06 17:53] andrealin commented on #27
Looks good, closing.

[2018-07-06 17:53] #27 closed

[2018-07-10 17:17] KatieWoe opened #28 "Failure to Grunt"
[code]
May be related to commits made July 9th

[2018-07-10 17:23] SaurabhTotey commented on #28
Yeah, I found the issue and fixed it. I'll be sure to grunt lint more often from now on. Thanks!

[2018-07-10 17:23] #28 closed

[2018-07-11 16:52] SaurabhTotey opened #29 "Where to put Spectral Radiation label for the graph values point"
When making the graph values draggable point node, I have run into some issues for where the y-axis label should be placed. According to the design document, the label should be placed to the left of the y-axis similar to the image below.
<img width="1154" alt="screen shot 2018-07-11 at 10 37 49 am" src="https://user-images.githubusercontent.com/22577113/42586950-86e7208e-84f6-11e8-87ea-08f938b8c7

[2018-07-18 01:04] DianaTavares commented on #29
This is the mock up (the values in the mockup are just examples):
![screen shot 2018-07-17 at 5 33 37 pm](https://user-images.githubusercontent.com/26031501/42851007-aada8166-89e7-11e8-8403-0bce8dd92cc5.png)

One of the things is that the name of the axes is smaller (the same size that the "BlackBody Temperature" text).  That change allows to moved the Y-axis label in the bottom of the zoom contro

[2018-07-18 03:01] SaurabhTotey commented on #29
Ok, I will get started on correcting the units. The nm to μm fix should be easy, and the fix for the y axis should also be easy as it seems that the label is off by a consistent factor of 1e33. I see now that the axis labels are smaller in the design doc, so I will see if freeing up that space will allow the GraphValuesPoint labels to be where they belong without pushing the graph. Thanks!

[2018-07-18 16:00] DianaTavares commented on #4
@jbphet its right, the thermometer don't looks good in the RED_COLORBLIND, but the graphs looks very well, an it's better because the visible spectrum doesn't have that color and the curve it's visible all the time.

Now, about the saved curve, I choose brown because it's a color that isn't in the visible spectrum. But we can use the gray color that is used in other sims (like graphing lines) for

[2018-07-19 03:34] ariel-phet opened #30 "Mini code-review of BlackbodyBodyModel.js"
The file https://github.com/phetsims/blackbody-spectrum/blob/master/js/blackbody-spectrum/model/BlackbodyBodyModel.js has me asking a few questions, and I think would be good to discuss briefly as a group.

I feel like in general I should be able to read the equation being used to calculate something, and this equation in particular seems obfuscated:
[code]

Additionally, the constants are "far aw

[2018-07-19 16:59] samreid commented on #30
In https://github.com/phetsims/wave-interference/issues/77 the recommendation was to implement the model in the displayed units (a deviation from our prior recommendation to implement models in SI/MKS).

`FIRST_RADIATION_CONSTANT`  and `SECOND_RADIATION_CONSTANT` are only used once--based on prior discussion, they can be declared with the constants or locally.

It would be nice to explain the phys

[2018-07-19 17:44] pixelzoom commented on #30
I agree that it's difficult to "see" what the general equation is.  That could easily addressed with a comment above the computation that shows the full equation.   For example in hookes-law.Spring, the equation for potential energy is clearly documented above the derivation:

[code]

[2018-08-09 15:42] SaurabhTotey opened #31 "Where to place temperature labels for saved graphs"
According to the design document, each saved graph should have a temperature label associated with it. However, I am not quite clear on where the temperature label should go. For testing purposes, I just used the old intensity label placement to place the temperature labels. However, this approach may not be sufficient because I am noticing a few issues. For example, in the image below, when savin

[2018-08-09 17:51] DianaTavares commented on #31
The issues that we have had with this sim design is that is not a good idea to have information inside the graph because in can get lost with the visible spectrum or with the zooms.
My proposal is  to move this temperature values outside the graph.

![screen shot 2018-08-09 at 11 39 34 am](https://user-images.githubusercontent.com/26031501/43916182-176f75ae-9bca-11e8-825f-17867209b27e.png)

@aroui

[2018-08-10 16:57] ariel-phet commented on #31
@DianaTavares @arouinfar what about the following design.

One thing that has bugged me for awhile is that the temperature readout being right on the slider thumb of the thermometer leads to a very big "dead space", in addition, you are likely to cover that readout with your finger if using a touch device. Also, the controls for the graph do not really have good proximity to the graph. In this des

[2018-08-10 16:58] ariel-phet commented on #31
@arouinfar @DianaTavares obviously the above is not polished (needs to be better aligned and such, but see if you like that general direction.

[2018-08-10 18:56] DianaTavares commented on #31
Taking the @ariel-phet suggestion and working with @arouinfar, this is the proposal:

![screen shot 2018-08-10 at 12 29 58 pm](https://user-images.githubusercontent.com/26031501/43974895-1f459ca2-9c99-11e8-8350-c5b3ffa64ac6.png)

If three curves are in the graph, I think that is important that all of them have the temperature value, for that reason the red curve was added.

With the word "intensit

[2018-08-13 18:49] ariel-phet commented on #31
@DianaTavares I like this direction, we will probably still need to do some polishing once we play with it, but overall I think the layout is much better.

[2018-08-13 18:50] ariel-phet commented on #31
@SaurabhTotey it looks like you have been working on this layout, I would say continue. When you have a working version, please publish a dev version for us to look at.

[2018-08-16 03:30] SaurabhTotey commented on #31
[Here](https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.0-dev.8/phet/blackbody-spectrum_en_phet.html) is a link to the dev version for how this looks so far.

[2018-08-16 15:05] DianaTavares commented on #31
I love it @SaurabhTotey excellent work, thanks!!

[2018-08-20 19:15] arouinfar commented on #31
The new layout is looking really nice @SaurabhTotey!

[2018-09-04 01:21] samreid opened #32 "Investigate re-entrant Properties"
In https://github.com/phetsims/axon/issues/179 we identified Property instances that are re-entrant.  In this context, re-entrant means a change in value of the Property causes (via listeners) another change in the value of the same Property instance.

Re-entry can occur for at least 3 different reasons, which are document here: https://github.com/phetsims/axon/issues/179#issuecomment-414717687

[

[2018-09-04 18:38] ariel-phet commented on #32
@arnabp this would be good for you to work on.

Feel free to ping other developers for help if this is not clear.

[2018-09-05 18:31] arnabp commented on #18
Assigning to @jbphet for code review

[2018-09-05 20:42] arnabp commented on #32
Assigning to @jbphet review

[2018-09-11 19:45] jbphet commented on #32
Functionally, the changes look good (and @arnabp and I discussed the issue prior to the changes).  There are a few minor things that should be updated in order to meet PhET's coding style standards (see https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md), and @arnabp and I will discuss in our regular weekly meeting.

[2018-09-11 20:32] jbphet commented on #18
Reviewed and discussed with @arnabp, looks good, closing.

[2018-09-11 20:32] #18 closed

[2018-09-11 20:43] #32 closed

[2018-09-20 18:20] pixelzoom opened #33 "code review"
@jbphet will assign this back to @pixelzoom when the sim is ready for code review.

I previously did an informal code review in https://github.com/phetsims/blackbody-spectrum/issues/15.

[2018-09-20 19:31] arnabp commented on #19
The Axes and axes labels/titles have been moved to ZoomableAxesView. Zoom buttons were cleaned up a bit. Is this what you're looking for, or should this be broken down further?

[2018-09-20 21:33] jbphet opened #34 "UI adjustments (aka "pixel polishing), round 1"
In the 9/20/2018 sim design meeting we reviewed the [1.0.0-dev.10 dev version](https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.0-dev.10/phet/blackbody-spectrum_en_phet.html) for UI adjustments.  Here is the TODO list that resulted:

- [x] make the temperature adjustment triangle significantly larger and closer
- [x] make the arrow cues significantly larger
- [x] get rid of big vertical w

[2018-09-24 14:44] pixelzoom commented on #19
Yep, looks good.

[2018-09-25 20:16] arnabp opened #35 "Do we need support for projector mode?"
This sim has a black background so it seems like a good thing to have a projector mode. Should we try to make this happen?

[2018-09-25 21:15] DianaTavares commented on #35
I have this ideas for the design (I share it with Amy and she is agree)

All the strokes and text is black, except for the temperature readout that match with the color of the slide in the thermometer.
The saved lines has a darker gray color (to have a better contrast with the white background) the The star (close to the RGB colors) has stroke to be able to see it when the start is white.
The rest

[2018-09-26 13:53] ariel-phet commented on #35
@DianaTavares looks good to me and clear contrast. @arnabp lets go with this for the moment, we can always make a few minor tweaks if necessary once implemented.

[2018-09-26 19:16] jbphet commented on #35
@arnabp - we can look at this together when you're ready, but if you want to start checking out an existing implementation of projector mode support, you can start looking at the file `SOMColorProfile` and usages thereof.  This is in the States of Matter simulation.

[2018-09-26 19:18] jbphet commented on #33
I'm going to unassign this for a bit - we just did a "pixel polishing" review and came up with a number of things to change (see https://github.com/phetsims/blackbody-spectrum/issues/34), so I'll assign this once those items are taken care of.

[2018-09-27 18:39] jbphet commented on #33
In the 9/27/2018 developer meeting it was decided that @chrisklus would do the code review instead of @pixelzoom when this is ready.

[2018-09-27 18:47] pixelzoom commented on #19
Something I noticed in `ZoomableAxesView`...  You have comment blocks like this:

[code]

You need to put the `@private` and `@public` annotations on a comment line before the `this.*` declarations.   If you have a bunch to `this.*` declarations on contiguous lines, you can put one `@private` or `@public` comment before the entire group.   For more info, see the [Visibility Annotations](https://gi

[2018-09-27 20:44] chrisklus opened #36 "PhET-iO instrumentation design plan"

[2018-09-27 21:31] jbphet commented on #36
Our plan is to do this after the code review.  I'll leave it unassigned for now, and will assign to @chrisklus when we're getting close on this.

[2018-10-08 18:31] DianaTavares opened #37 "Mike suggestions: "AutoScale" button and minimum thermometer's value at 3 K"
@arouinfar  and I showed the new version of the sim to Mike Dubson and he has some suggestion to be considered for implementation:

- Include lower temperatures, till 3 K, that is the background radiation

- Include an “Auto Scale” button, that  it’s  useful if we add lower temperatures (because the zoom buttons will need more range)

He share [this link](https://phet-dev.colorado.edu/blackbody-sp

[2018-10-09 22:08] arouinfar opened #38 "Suggestion: Snap slider in 50 or 100 K increments"
The temperature slider is completely continuous allowing for any value within the slider range. Because the range is so large, it is somewhat difficult to set a precise value. Perhaps the slider could be restricted to values divisible by 50 or 100 K?

Mike's revised version of Blackbody Spectrum snaps in 50 K increments:
https://phet-dev.colorado.edu/blackbody-spectrum/2.02.02/blackbody-spectrum_e

[2018-10-09 23:57] arouinfar commented on #37
While autoscale seems handy, I don't think it would be necessary. It would likely add a lot of development time to the sim. The current implementation doesn't seem optimized, either.

For example, autoscale produces the zoom level on the left, but should have probably zoomed out an additional time on the x-axis (right).
<img src="https://user-images.githubusercontent.com/8419308/46705109-55adb280-

[2018-10-10 23:19] arnabp commented on #34
Made the adjustments listed, you can view them in [1.0.0-dev.11 dev version](https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.0-dev.11/phet/blackbody-spectrum_en_phet.html). Let me know how this looks!

[2018-10-11 00:10] DianaTavares commented on #34
I like the new changes, good job @arnabp! I have some observations:

- I think that the cues arrows for the Graph Values should be the same side that the ones in the thermometer.
- Now that all the text is white, should the BGR letters be white as well?
- The default y-axes when the sim start or refresh it's 300, I think that can be 100, because the curve looks very small.
- I feel the camera and

[2018-10-11 00:12] DianaTavares commented on #38
I like the idea! I think that snaps in 50 K is perfect!

[2018-10-16 17:29] arouinfar commented on #37
Okay, sounds good @ariel-phet. I'll unassign myself until a decision has been made in design meeting.

[2018-10-19 00:31] DianaTavares commented on #34
Today we have the pixel polishing round 2! We review the information in my last comment and other things. I am going to close this issue and open a new one with the list of the agreements in today meeting.

[2018-10-19 00:31] #34 closed

[2018-10-19 00:33] DianaTavares commented on #37
We decided not to make these changes in the October 18,2018 design meeting.

[2018-10-19 00:33] #37 closed

[2018-10-19 00:35] DianaTavares commented on #38
This suggestion was accepted in design meeting Oct 18, 2018. It's going to be part of the list of We pixel polish round 2

[2018-10-19 00:35] #38 closed

[2018-10-19 00:36] DianaTavares commented on #31
This implementation is already done an looks amazing! Nice work @SaurabhTotey! closing

[2018-10-19 00:36] #31 closed

[2018-10-19 00:38] DianaTavares commented on #29
Already implemented an looks amazing! closing

[2018-10-19 00:38] #29 closed

[2018-10-19 00:39] DianaTavares commented on #25
Already implemented and looks amazing! closing

[2018-10-19 00:39] #25 closed

[2018-10-19 02:56] DianaTavares opened #39 "changes in limits of the zoom options"
In the actual simulation of Blackbody we lose the curve shape of the spectral radiance for low temperatures for the allowed zoom values. For now the lowest range in y-axe si 0-10 and we lost the shape for all the temperatures below 2000K.

![screen shot 2018-10-18 at 7 04 08 pm](https://user-images.githubusercontent.com/26031501/47192153-9ce12500-d308-11e8-8565-bea7fb9ea1bd.png)

For all the tempe

[2018-10-19 03:09] DianaTavares opened #40 "Pixel polishing round #2"
In the 10/18/2018 sim design meeting, looking the actual version in PhET test for UI adjustments. Here is the TODO list that resulted:

- [x] The cues arrows for the Graph Values should be the same size that the ones in the thermometer.

- [x] Change the color of  the dot of Graph Values to white in the normal view and black in the projector mode.

- [x] Hide the coordinate of the dot (the one ins

[2018-10-20 00:50] DianaTavares commented on #39
with 8 clicks to change the zoom, this is the proposal for maxima values for Y-axe  in each click (in the table you can see what temperatures can be analyzed in each zoom option):

* The default value is start in Y-axe max value = 100

Temperature | Peak value | Max value in Y-axe in each clic
-- | -- | --
300 | 0.00001004408618 | 0.00005
400 | 0.00004232569651 |  
500 | 0.000129167775 | 0.0007
60

[2018-10-22 18:11] arouinfar commented on #39
@DianaTavares and I had a chat about the y-axis scaling. I think its important for the zoom buttons to have a consistent spacing (whether that is factors of 3, logarithmic, or whatever). I don't particularly have a problem with extreme temperatures taking a few extra zoom clicks, as there's some physicality to it.

@DianaTavares mentioned that a factor of 5 scaling on the y-axis would require 10 s

[2018-10-25 17:51] DianaTavares commented on #39
Perfect, then I am going to add this to the issue #40 in the list of polishing round 2. Thanks for your help!

[2018-10-25 17:51] #39 closed

[2018-10-25 18:11] DianaTavares commented on #40
In #39  was decided to change the zoom limits to be able to see the curve for all the temperatures in the simulation.  The this is added to the polishing list:

- [ ] For the x-zoom  allow 2 extra clics for the (- )zoom for get to 48

- [ ] For the y-zoom the  factor of change in each click is going to be 5.  The max value is going to be 700 and in each click in the (+) zoom the max number is goin

[2018-11-05 02:00] arnabp commented on #40
All changes implemented in [1.0.0-dev.12 dev version](https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.0-dev.12/phet/blackbody-spectrum_en_phet.html). Label sizes and decimals have been changed to accommodate the scaling, probably something worth looking at in design.

[2018-11-05 07:10] phet-steele commented on #6
This happened in https://github.com/phetsims/perennial/commit/52fe6dedf32e624faaa046c563201937c3ac9f23 I guess.

[2018-11-05 07:10] #6 closed

[2018-11-05 07:29] phet-steele opened #41 "Cue arrows overlap with Y axis values"
1. Zoom all the way out an the X axis.
2. Enable "Graph Values"

The cue arrows for the point will overlap the Y value. I have no idea how to address this, or if we even should. I'm just pointing it out. 😄

![image](https://user-images.githubusercontent.com/5863899/47980330-659ea200-e084-11e8-9499-ec731e68c4ca.png)

Seen on Win 10 Chrome. For phetsims/QA/issues/215.

<details>
<summary>Troubleshoo

[2018-11-05 07:29] phet-steele opened #42 "Logging in GraphValuesPointNode"
There is a console.log statement left at https://github.com/phetsims/blackbody-spectrum/blob/master/js/blackbody-spectrum/view/GraphValuesPointNode.js#L184. These are generally removed in dev testing, and definitely removed by the time we get to rc.

For phetsims/QA/issues/215.

[2018-11-05 07:29] phet-steele opened #43 "Both saved curves can appear as a solid line when zoomed in"
At max Y zoom and 5 levels out from that, both saved curves will appear as solid lines. In other words:

1. Zoom the Y axis all the way in.
2. Save a curve.
3. Adjust temperature.
3. Save your second curve.

Once you have zoomed out far enough, one will revert to correctly be dashed.

![image](https://user-images.githubusercontent.com/5863899/47979201-f70b1580-e07e-11e8-8857-803adbc74567.png)

See

[2018-11-05 07:29] phet-steele opened #44 "Dilate Reset All button touch area"
The touch area for the Reset All button should be made larger than the button itself. See phetsims/friction/issues/65 for an example.

For phetsims/QA/issues/215.

[2018-11-05 07:29] phet-steele opened #45 "Graph labels missing from string file"
"Ultraviolet", "Visible", "Infrared", and "Radio" cannot be translated currently since they are not in a string file.

Seen on Win 10 Chrome. For phetsims/QA/issues/215.

<details>
<summary>Troubleshooting Information</summary>

URL: https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.0-dev.12/phet/blackbody-spectrum_en_phet.html
Version: 1.0.0-dev.12 2018-11-02 23:46:56 UTC
Features missing

[2018-11-05 07:29] phet-steele opened #46 "Sim fails ?stringTest=double in multiple ways"
Can't think of a better title, sorry. This sim needs i18n attention. This is how it looks on startup with `?stringTest=double`:

![image](https://user-images.githubusercontent.com/5863899/47978796-ff625100-e07c-11e8-9929-3c92cb2dece0.png)

I don't think it is worth my time to enumerate all the things that need to be fixed until the sim has been given a good i18n pass, but the obvious places to sta

[2018-11-05 07:29] phet-steele opened #47 "Earth tick extends into the thermometer"
The thermometer tick for Earth very barely extends past the thermometer bulb. You can see a little sliver of it in the the white space before the red. Sorry if this is hard to see. I tried to enlarge the image but it just becomes a mess of pixels.

![image](https://user-images.githubusercontent.com/5863899/47978707-82cf7280-e07c-11e8-95ed-e416950d89b2.png)

Seen on Win 10 Chrome. For phetsims/QA/i

[2018-11-05 07:29] phet-steele opened #48 "Value labels get very close to the Y axis"
At high values (six sig figs) along the Y axis, the value gets uncomfortably close to the Y axis label. Why? Since this is just a matter of pixels, there should be room to move the graph (and options panel) to the right a few pixels to give more room.

![image](https://user-images.githubusercontent.com/5863899/47978532-9fb77600-e07b-11e8-8db3-6c5f2e0714ea.png)

Doing this should also allow the val

[2018-11-05 07:29] phet-steele opened #49 "Be more transparent about the number of saved curves allowed"
It is not super clear that you can only save two curves. This isn't too harmful, but it also seems like unnecessarily hidden information that you can only learn "the hard way" (your earliest curve is lost when attempting to save a third 😢).

Please ignore the crappy dashes! This is the first idea I had to make it clear that two curves can be saved:

![image](https://user-images.githubusercontent.c

[2018-11-05 07:29] phet-steele opened #50 "Curve images shift when aligning to longer/shorter temperature text"
The images in the curve legend appear to be right aligned with the text near them. This causes the images to move left and right when the number of digits in the text changes and makes the images not aligned with each other:

![image](https://user-images.githubusercontent.com/5863899/47978436-19029900-e07b-11e8-9a81-db01a5d95533.png)

It would be better imo if the images remained static (probably

[2018-11-05 07:29] phet-steele opened #51 "Why does the graph value point "reset" when temperature is changed?"
Why does the graph value point jump to the peak of the curve whenever I change temperature? I don't have a case for why it should, but I do know it is somewhat annoying that it does. This prevents me from ever watching the values change with temperature at a location on the curve that I want.

For phetsims/QA/issues/215.

[2018-11-05 07:29] phet-steele opened #52 "What color should the star be in projector mode at 300 K?"
Should the star be black in projector mode at 300 K? My guess is yes, but I felt it safer to ask the more science literate. I'm hesitant since I can easily see this being an oversight. The star would be black without projector mode at this temperature so that it is invisible on a black background, but I don't know if that's because it should actually be black or we are just trying to hide it. Shou

[2018-11-05 07:29] phet-steele opened #53 "Graph point cue arrows should be pickable"
The cue arrows on the thermometer handle can be grabbed and dragged, but the cue arrows on the graph value point cannot. Since we should be consistent, and PhET tends to let users interact with cue arrows, the graph value point arrows should be made interactable.

Seen on Win 10 Chrome. For phetsims/QA/issues/215.

<details>
<summary>Troubleshooting Information</summary>

URL: https://phet-dev.col

[2018-11-05 07:29] phet-steele opened #54 "Curve fails to draw to correct Y value"
At low values of zoom (need both axes to be zoomed out quite a bit), the curve doesn't continue to draw to the correct Y value, as evidenced by the below screenshot. The graph value point is off the curve but is in the correct place; the curve is just failing to draw up that high:

![image](https://user-images.githubusercontent.com/5863899/47978250-e015f480-e079-11e8-82bd-7c955316db69.png)

The se

[2018-11-05 07:29] phet-steele opened #55 "Graph value point drags at a different speed than the mouse"
When dragging the graph value point, the point moves much quicker/slower than my mouse. This causes the point to "detach" from my mouse and makes dragging a bit unwieldy. This is similar to phetsims/circuit-construction-kit-common/issues/301 where screen size affects the speed of dragging.

Seen on Win 10 Chrome. For phetsims/QA/issues/215.

<details>
<summary>Troubleshooting Information</summary>

[2018-11-05 07:29] phet-steele opened #56 "Graph value point is lost behind star"
I feel like the graph value point getting lost behind the star is unbecoming:

![image](https://user-images.githubusercontent.com/5863899/47983460-9dabe200-e090-11e8-9caa-76405cb87a0f.png)

This could be fixed by:
1. Layering the point in front of everything and...
2. ...adding a stroke around the point to help with contrast over the star (and other areas)

@DianaTavares what do you think?

Seen o

[2018-11-05 07:29] phet-steele opened #57 "Graph value point can be lost off screen"
The graph value point can be lost by:

1. Enable Graph Values
2. Zoom in the Y axis until the point goes off the top of your screen.

From here, the point cannot be retrieved without zooming the graph back out or lowering temperature. This is not a big deal, but it does seem easily avoidable. @DianaTavares @ariel-phet I would suggest allowing the point to also be draggable by either the value labe

[2018-11-05 16:55] DianaTavares commented on #57
I like the idea of moving the dash line or probably clicking in the graph where the user want to see the graph values. I don't think that clicking in the X or Y axis is a good idea because this don't have numeric values.

[2018-11-05 16:58] ariel-phet commented on #52
Black would be correct, basically to our eyes, things at 300 K do not "glow"

[2018-11-05 16:58] #52 closed

[2018-11-05 16:58] ariel-phet commented on #56
Seems like it should be layered in front....since it is the interactive element

[2018-11-05 17:01] DianaTavares commented on #56
I like the idea of put the pint in from of everything. But I don't think that need a stroke because the color of the dot be itself is contrast from the star and other areas

[2018-11-05 17:06] DianaTavares commented on #56
@arnabp, please layering the point in front of everything

[2018-11-05 17:12] phet-steele commented on #57
@DianaTavares I meant clicking on these values:

![image](https://user-images.githubusercontent.com/5863899/48014125-38351100-e0e3-11e8-9632-8ad7aaaaaa1b.png)

[2018-11-05 17:16] DianaTavares commented on #57
Oh I understand! yes you are right! dragging that values or clicking directly in the graph as other options to move the point is a good idea! I like it, lets see what @ariel-phet think

[2018-11-05 17:18] DianaTavares commented on #49
I like the idea of show always the legend with the dash lines when it's not a saved curve

[2018-11-05 17:24] DianaTavares commented on #50
I am agree. The images should be static.
 @arnabp please align the Images to the left and text to the right.

thanks @phet-steele!

[2018-11-05 17:34] DianaTavares commented on #51
I see your point. I think that both visualizations are important. In one side, to see how the pack values change when the temperature change, and in the other side, set a wavelength and see how the spectral radiance change with the temperature.

I don't know if is posible do both. I think that si better to ask this in a design meeting.

[2018-11-05 17:45] DianaTavares commented on #48
yes, the graph and controls can be moved a few pixels to the right to give more space between the label alf the axe and the numbers. But I also think that the numbers don't need the three decimals of precision. I think that for integer number should be only 222 or 138. For decimal numbers, it can be for the first 3 digits like 0.023, and for smaller number use scientific notation.

Lets see what @

[2018-11-05 18:06] DianaTavares commented on #41
Thanks for pointing it out! I don't know neither how to solve this. probably the numbers over the arrow?  I am going to think in other options
![screen shot 2018-11-05 at 11 05 02 am](https://user-images.githubusercontent.com/26031501/48017104-aaf5ba80-e0ea-11e8-9347-1a3d42fa3ac6.png)

[2018-11-05 18:47] DianaTavares commented on #40
Nice work @arnabp!
in the version that dev.12 the line for the labels of the electromagnetic spectrum still bold. Can you make it a little thinner?

![screen shot 2018-11-05 at 11 18 55 am](https://user-images.githubusercontent.com/26031501/48017849-9a464400-e0ec-11e8-816c-40a7e76ca3bf.png)
thinner like this line (half of side that the line in the Y axe):
![screen shot 2018-11-05 at 11 20 02 am](h

[2018-11-05 21:59] arnabp commented on #42
Ahh, missed one. I'm surprised grunt lint doesn't catch these, should it? Or is that outside the scope of what lint is for?

[2018-11-05 23:09] arnabp commented on #43
@jbphet suggested this might be a scenery issue. @jonathanolson any idea what's going on here?

[2018-11-05 23:14] arnabp commented on #44
Dilation added, closing

<img width="407" alt="screen shot 2018-11-05 at 4 13 57 pm" src="https://user-images.githubusercontent.com/8583364/48032688-db068300-e115-11e8-8eaf-ebce8043633b.png">

[2018-11-05 23:14] #44 closed

[2018-11-06 00:16] arnabp commented on #45
Moved strings to appropriate file, closing

[2018-11-06 00:16] #45 closed

[2018-11-06 03:06] ariel-phet commented on #49
@DianaTavares @phet-steele I don't really like the idea of always showing the legend. I think it helps cue the user what has happened that the legend appears when they click save. To address @phet-steele concern, I suggest that the first time you press save the legend appears but with one blank space, as shown below. If that works for you @DianaTavares please assign to Arnab

![bb](https://user-im

[2018-11-06 03:07] DianaTavares commented on #49
Yes, I like that idea!

[2018-11-06 18:55] phet-steele commented on #42
@arnabp my guess is probably that lint does not check these. They aren't always bad to have, only in QA tested versions. I don't think lint can distinguish between a QA tested build and any other build, if that makes sense at all. In other words, there are likely scenarios where logging is desirable.

[2018-11-06 19:01] jonathanolson commented on #43
This is particularly interesting, since the behavior seems to be the same cross-browser, AND the actual SVG element still seems to have the correct style information (unchanged with zoom): `style="fill: none;stroke: gray;stroke-width: 5;stroke-linejoin: round;stroke-miterlimit: 10;stroke-dasharray: 5,5;stroke-dashoffset: 0;"`

It's likely that there is a cut-off in the SVG spec. Maybe the curve is

[2018-11-06 19:22] jonathanolson commented on #43
It appears that the cutoff is almost assuredly "if the dash pattern would be repeated 1 million or more times to cover the entire curve, don't show dashes".

We use a 5,5 dash pattern (5-length stroked, 5-length gap). Here is the information for the first three zoom settings:

14128530.975705406 length, 7,7 NO, 8,8 OK (change from ~1009180 to ~883033 repeats)
70642596.58993901 length 35,35 NO, 36,

[2018-11-06 22:16] arnabp commented on #47
Tick no longer juts out in the bottom right, closing

[2018-11-06 22:16] #47 closed

[2018-11-06 22:31] arnabp commented on #49
Implemented the blank third saved graph slot. Not seeing any unexpected issues with it, looks good 👍

[2018-11-07 20:29] KatieWoe commented on #57
In addition, if you are zooming in on the X axis, the point moves to the furthest right value available.  Whatever we decide to do, I think we should be consistent here.

[2018-11-07 20:46] KatieWoe opened #58 "Max Y value can be covered by the line"
For https://github.com/phetsims/QA/issues/215
It is possible for the red line to cover part of the white value on the y axis that gives a sense of scale for that axis of the graph.  To do this set the temperature as high as possible, zoom in on the y-axis as much as possible, and zoom out as much as possible on the x-axis.  The more that is going on (saved lines, intensity, etc.) the more obvious

[2018-11-07 20:56] KatieWoe opened #59 "Should intensity shading go behind the line?"
For https://github.com/phetsims/QA/issues/215
I noticed that, near the edges, the intensity shading makes some odd looking points.  It also gives the appearance of two lines where it covers part of the red line.  This is particularly noticeable when looking at the far left or right, where the red line appears to have wedges or corners.  Layering the intensity shading behind all the lines may solve

[2018-11-07 21:35] KatieWoe opened #60 "Active and saved lines should have similar behavior to Graphing Quadratics"
For https://github.com/phetsims/QA/issues/215
In the sim at the moment, the red line is layered behind any saved lines, meaning that as it moves it can hide behind existing lines.  Compare this to graphing quadratics, which starts with the saved line in front and that saved line moves back when adjustments are made to the red line.

[2018-11-07 21:57] jonathanolson commented on #43
Running the changes through testing, but I'll be adding `shape.shapeClip( clipShape )`. For example the following code (in the kite playground) which takes a grid and clips it with a shape composed of two circles:

[code]

results in:
<img width="282" alt="screen shot 2018-11-07 at 2 55 41 pm" src="https://user-images.githubusercontent.com/480878/48163556-3911a280-e29d-11e8-8117-647a19c05a5d.png">

[2018-11-07 22:21] DianaTavares commented on #60
I review graphic quadratics and I like that effect where the saver line (the gray one) has the border color of the moving graph (black one)when bout are overlapped.

![screen shot 2018-11-07 at 3 09 47 pm](https://user-images.githubusercontent.com/26031501/48164280-492a8180-e29f-11e8-8e4f-e4f72b68e7c8.png)

this is the way that may look with Blackbody

![screen shot 2018-11-07 at 3 17 02 pm](https

[2018-11-07 22:50] DianaTavares commented on #58
It's also other issues with the numbers that I think that the first step is use integer numbers from 700 to 100, one decimal from 99.9 to 10.0, two decimals from 9.99 to 0.01 and then scientific notation using only one digit.

![screen shot 2018-11-07 at 3 29 55 pm](https://user-images.githubusercontent.com/26031501/48165185-03bb8380-e2a2-11e8-8580-0700f7e2db23.png)

The same with the top number f

[2018-11-07 22:54] DianaTavares commented on #59
Yes, the intensity shading should go behind the red line.

[2018-11-07 22:57] KatieWoe opened #61 "Temperature arrow doesn't immediately change color"
For https://github.com/phetsims/QA/issues/215
Very minor.  As the cursor moves over the temperature control it turns in to a hand to indicated it can be dragged and the arrow changes its shade.  It is possible to have the cursor change to a hand but no color change occur.
![colour](https://user-images.githubusercontent.com/41024075/48166414-b80ad900-e2a5-11e8-80e8-16f9855d37f4.gif)

[2018-11-07 23:02] DianaTavares commented on #57
I am agree with @KatieWoe. With the actual behavior, if I put the point in from example 8 in the x axe, if I change the zoom to 6, the sim push the dot from 8 to the 6 that is the furthest right value. I think that X should to have the same behavior that Y, move with the graph, no mater if the point go out of the visible graph.

what do you think @ariel-phet ?

[2018-11-07 23:11] KatieWoe commented on #58
@DianaTavares @arnabp it looks like the red line almost goes outside of the graph at these types of extremes.  If you zoom out on the x axis all the way the red line looks like its bellow the graph.  Putting here instead of making a new issue as I believe the underlying issue may be similar.  Let me know if you want them separate.
![underline](https://user-images.githubusercontent.com/41024075/481

[2018-11-07 23:19] DianaTavares commented on #58
I think that in general the graph should not go over the white lines in the axes.
Now:
![screen shot 2018-11-07 at 4 18 17 pm](https://user-images.githubusercontent.com/26031501/48167401-d6260880-e2a8-11e8-88db-2548d87f7e40.png)

How it should be
![screen shot 2018-11-07 at 4 18 32 pm](https://user-images.githubusercontent.com/26031501/48167405-d7efcc00-e2a8-11e8-911c-78ae9e09c20e.png)

@arnabp, c

[2018-11-07 23:38] KatieWoe commented on #56
There can be some odd cases with lines behind the star as seen here, but they may be acceptable edge cases.
![odd](https://user-images.githubusercontent.com/41024075/48168173-86950c00-e2ab-11e8-8e4f-76d27a9350b1.PNG)

[2018-11-07 23:51] ariel-phet commented on #60
@DianaTavares I agree, that is a nice solution in graphing quadratics that we should apply hear as well

[2018-11-07 23:57] jonathanolson commented on #43
Pushed (passed snapshot comparisons, fuzzing, etc.)

[2018-11-07 23:57] jonathanolson commented on #43
Leaving assigned to me to add unit tests. @arnabp let me know if using this works out ok.

[2018-11-08 19:38] phet-steele commented on #58
@DianaTavares that is confusing. The white line IS the X axis, and with every graph I've seen in my life, y=0 is directly on the X axis. If the red line never touches the X axis, then that would mean the line never reaches y=0. Is that what you want?

The illusion in https://github.com/phetsims/blackbody-spectrum/issues/58#issuecomment-436812125 is simply the tick marks getting so close together t

[2018-11-08 21:21] DianaTavares commented on #51
In the design meeting was decide that the actual behavior, where the dot moving with the peck is the the better for this simulation. Closing !

[2018-11-08 21:21] #51 closed

[2018-11-08 21:22] DianaTavares commented on #35
This mode is working well, closing this issue

[2018-11-08 21:22] #35 closed

[2018-11-08 21:33] DianaTavares opened #62 "Pixel polishing round #3"
This are the changes that were decided in Design meeting:

- [x] for the readout in the point value Y coordinate, only use 3 digits value and then change to scientific notation. The same the top number for the Y-axe. The labels from 700 to 0.22 are good, but my suggestion si change the others to:
0.05
9X10^-3
2X10^-3
4X10^-4
7X10^-5
1X10^-5
- [x] Move the Y axe  zoom buttons one side to another on

[2018-11-08 22:49] DianaTavares commented on #58
This issue was decided how to solved in the design meeting and its include in the To Do list in issue #62. Closing

[2018-11-08 22:49] #58 closed

[2018-11-08 22:51] DianaTavares commented on #57
The two topics in this issue were discussed in Design meeting and are in issue #62 Closing this one.

[2018-11-08 22:51] #57 closed

[2018-11-08 22:53] DianaTavares commented on #56
In 11/8 design meeting was discussed that the graph will stay only inside the graph space (its not going to go to over the star. Mentioned in issue #62. Closing this issue.

[2018-11-08 22:53] #56 closed

[2018-11-08 22:55] DianaTavares commented on #48
Addressed in design meeting 11/8 in issue #62 with only 3 digits and then scientific notation . Closing

[2018-11-08 22:55] #48 closed

[2018-11-08 22:59] DianaTavares commented on #8
This is considered in the actual sim design. Thanks for the teacher suggestions!! closing

[2018-11-08 22:59] #8 closed

[2018-11-08 23:01] DianaTavares commented on #49
Good job @arnabp, works very well. Closing!!

[2018-11-08 23:01] #49 closed

[2018-11-10 01:04] megan-phet opened #63 "Sim blacks out when spectral radiance is 0.0001 and blackbody temp is 11000K"
<b>Test Device</b>
- MacBook Pro

<b>Operating System</b>
- MacOS 10.14

<b>Browser</b>
- Only on Safari

<b>Problem Description</b>

- For phetsims/QA#215

Screan blacks out when spectral radiance is at 0.0001 and blackbody temp is at 11000K.

<b>Steps to Reproduce</b>

1. Change the spectral radiance to 0.0001
2. Change the blackbody temp to the max

<b>Visuals</b>
![kapture 2018-11-09 at 17 35

[2018-11-12 20:28] KatieWoe commented on #63
@phet-steele It sounded like @megan-phet was having trouble adding assignments and tags for some reason.  I've been looking in to see what the cause might be, but haven't found anything yet.  Thanks for adding them.

[2018-11-12 20:38] phet-steele commented on #63
I see, thanks for finding that out! Sorry @megan-phet.

[2018-11-14 18:19] arnabp commented on #43
Clipping looks good, dashed lines stay dashed at all wavelengths now

[2018-11-14 20:44] arnabp commented on #43
@jonathanolson Unfortunately looks like clipping breaks the intensity shape fill. Instead of closing the single subpath, it now tries to close the two subpaths separately and fill them, creating this mess.
<img width="937" alt="screen shot 2018-11-14 at 1 34 19 pm" src="https://user-images.githubusercontent.com/8583364/48510877-5650ee80-e812-11e8-872c-afa022f6c980.png">

Since this is a subpath is

[2018-11-14 20:53] jonathanolson commented on #43
The above commit should probably fix the remaining issues related to internal errors with kite for this.

I'd use `shapeClip` only for the stroke. If you need a filled area also, use `shapeIntersection` (or just use the non-clipped version of it, since it was probably working before).

The shape intersection would leave a stroke on the bottom, since it turns non-closed shapes into closed shapes, s

[2018-11-14 23:26] KatieWoe opened #64 "CT: failure to grunt snapshot"
[code]
Also in perennial

[2018-11-15 05:45] arnabp commented on #55
Mouse movement and graph value point should now be aligned. Leaving open for testing on different platforms.

[2018-11-15 06:07] arnabp commented on #59
Intensity shading is now behind axes and graph lines

[2018-11-15 06:07] #59 closed

[2018-11-15 06:23] #64 closed, assigned to jbphet

[2018-11-19 23:31] KatieWoe opened #65 "Screen goes blank on iPad"
**Device**
iPad Air 2
**OS**
iOS 12.1
**Browser**
_Safari_
**Problem Description**
For https://github.com/phetsims/QA/issues/215
Zooming in on the y-axis causes significant lag on the iPad and often leads to either part of the sim, or the whole sim, disappearing.  When this occurs the sim must be restarted entirely.  Occurs in both normal and projector mode.
**Steps to reproduce**
1. Change the te

[2018-11-19 23:45] KatieWoe commented on #65
Slider may still be manipulated like this, and lowering temperature may bring back visuals.  This has also led to one crash of the sim.

[2018-11-19 23:59] KatieWoe commented on #65
Second Update: Seems to be a Safari problem, not an iPad problem.  Occurs on Mac OS 10.14 Safari as well.  No sign on Mac OS 10.14 Chrome or Firefox.

[2018-11-20 02:40] phet-steele commented on #65
With that last comment https://github.com/phetsims/blackbody-spectrum/issues/65#issuecomment-440086146, this is probably just #63, no?

[2018-11-20 15:32] KatieWoe commented on #65
Looks like actually.  Sorry about that.  Marking as duplicate and closing.

[2018-11-20 15:32] #65 closed

[2018-11-20 15:33] KatieWoe commented on #63
https://github.com/phetsims/blackbody-spectrum/issues/65 additional details in duplicate issue.  (I initially thought it was a new issue on iPads).

[2018-11-20 16:31] KatieWoe commented on #55
Seen on iPad/touchscreen as well

[2018-11-20 16:50] KatieWoe opened #66 "Red line image key shifts back and forth"
**Device**
iPad Air 2
**OS**
iOS 12
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/215
When the saved line legend appears, the red lines key image can shift right to left.  This occurs when the length of the temperature string changes.
**Steps to Reproduce**
1. Save a line
2. Move the temperature slider up and down, from the top to the bottom

**Screenshots**

[2018-11-20 16:55] DianaTavares commented on #66
Good catch. Definitely should not move

[2018-11-20 17:42] KatieWoe commented on #63
Significant lag also occurs.  This issue also seems to occur during the last few zoom ins (can occur at 0.00007, or at least large amounts of lag) and most of the high temperatures.

[2018-11-20 17:46] phet-steele commented on #66
This is what I was pointing out in #50 and it should be fixed with the solution posed there. Sorry if I was not being clear.

[2018-11-20 17:47] KatieWoe commented on #66
Closing as duplicate

[2018-11-20 17:47] #66 closed

[2018-11-20 18:05] phet-steele commented on #50
For the record, @KatieWoe made a video of the issue I was mentioning: https://drive.google.com/file/d/1oBB8lrARYtYewD4N3btSPO0JxfLVVp14/view?usp=sharing

[2018-11-20 21:09] KatieWoe opened #67 "Won't load in Internet Explorer"
For https://github.com/phetsims/QA/issues/215
The sim does not load in internet explorer.  The screen is stuck on the loading screen with a partially filled loading bar.
This is the console with error that occurs.
![iewontload](https://user-images.githubusercontent.com/41024075/48802933-cefdf200-eccd-11e8-8743-301c273b0c93.PNG)

[2018-11-27 22:07] arnabp commented on #54
Forced graph to draw peak point, ensures graph always reaches the correct peak point as indicated by the graph value point. Closing.

[2018-11-27 22:07] #54 closed

[2018-12-03 19:09] KatieWoe opened #68 "Touch controls for moving point only on x axis"
When moving the value point, it only moves when dragged along the x axis.  This did not present much problem, but did in graphing quadratics, see https://github.com/phetsims/graphing-quadratics/issues/117.  Specific code change was made to that sim, and may be worth examining here.

[2018-12-03 23:31] pixelzoom opened #69 "curve behavior"
In Graphing Quadratics https://github.com/phetsims/graphing-quadratics/issues/117, @KatieWoe said:

And:

[2018-12-03 23:32] KatieWoe commented on #69
Duplicate of https://github.com/phetsims/blackbody-spectrum/issues/68.  Closing with link to issue.

[2018-12-03 23:32] #69 closed

[2018-12-10 19:10] arnabp commented on #43
After using `shapeIntersection` we ran into some issues with edge cases being handles by scenery. Some of these bugs were handled, but the last one went accordingly:

Add `this.intensityPath.shape = this.intensityPath.shape.shapeIntersection( clipShape );` to line 206 of `blackbody-spectrum/view/GraphDrawingNode.js`. Zoom out once on the y axis and twice on the x axis, which produces a "TODO" erro

[2018-12-10 20:15] jbphet commented on #43
@arnabp and I discussed this with @jonathanolson and he recommended that we drop the idea of trying to use `shapeIntersection` and do the clipping explicitly in the blackbody sim code.

[2019-01-30 02:20] ariel-phet opened #70 "Touch area adjustment to thermometer control"
@arnabp currently the touch area of the thermometer pointer can overlap the ResetAllButton when put to its lowest point. The touch area for the pointer is more than generous and can be reduce in the y-dimension. A square aspect ratio to this touch area would be fine.

![bbtoucharea](https://user-images.githubusercontent.com/4051174/51953773-e4dd1100-23fa-11e9-8bb2-4c2b2e6b229f.PNG)

[2019-01-31 23:00] chrisklus commented on #33
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*
*Please mark failed items with* ❌

PhET code-review checklist
=============

#### **Build and Run Checks**

- [ ] Does the sim build without warnings or errors?
- [ ] Does the html file size seem reasonable, compared to other similar sims?
- [ ] Does the sim start up? (requirejs and built

[2019-02-05 20:59] arnabp commented on #50
Left adjustment fixed this issue, closing

[2019-02-05 20:59] #50 closed

[2019-02-05 21:05] arnabp commented on #60
The saved line is now smaller than the main line, creating an outline effect when it's saved and increasing visibility of both lines when overlapped, closing.

[2019-02-05 22:03] arnabp commented on #68
This was discussed in the last pixel polish meeting, and decided that the point should be draggable only on the x axis, closing.

[2019-02-05 22:03] #68 closed

[2019-02-08 23:45] arnabp commented on #61
The entire slider was still part of the sim and could be seen with cursor hover and could be clicked on to change temperature, despite being transparent. I've removed the slider completely.

[2019-02-08 23:45] #61 closed

[2019-02-08 23:55] arnabp commented on #70
Touch area is no longer dilated across that axis (ends at tips of the cueing arrows instead), closing

[2019-02-08 23:55] #70 closed

[2019-02-08 23:59] arnabp commented on #40
Appropriate changes were made, see next round of pixel polishing at https://github.com/phetsims/blackbody-spectrum/issues/62

[2019-02-08 23:59] #40 closed

[2019-02-09 21:30] DianaTavares commented on #46
For the graph axes, probably write the Y-axe label in this way:

![screen shot 2019-02-09 at 2 29 13 pm](https://user-images.githubusercontent.com/26031501/52526544-2e3d2400-2c77-11e9-9b14-28d5bbad2d6e.png)

[2019-02-12 21:53] arnabp opened #71 "Small design pass on y axis labels, scientific notation, and number resizing"
@ariel-phet @DianaTavares I've done a number of changes involving the graph point label and y-axis max label as per #62. I made a lot of discretionary tweaks to when a label resizes, and how much it resizes by, when switching in and out of scientific notation. Can you play around with it a bit and see if it looks right? Do any of the sizes seem off?

[Blackbody Spectrum 1.0.0-dev.13](https://phet-

[2019-02-12 21:55] arnabp commented on #62
All changes have been added as of [1.0.0-dev.13](https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.0-dev.13/phet/blackbody-spectrum_en_phet.html). However, the "rainbow don’t match with the visible label little line" issue was fixed by tweaking values to make the rainbow line up instead of addressing the core issue. I'll be continuing to find the source of that issue.

[2019-02-12 21:57] arnabp commented on #33
Sim is now ready for code review

[2019-02-12 22:52] DianaTavares commented on #71
Nice Work @arnabp!!  I really like it!

one of the things is that in scientific notation the labels of the dot is bigger that the y-axis max label, and not with regular numbers.

![screen shot 2019-02-12 at 3 26 28 pm](https://user-images.githubusercontent.com/26031501/52672320-c38c2280-2eda-11e9-9655-035727935daa.png)
![screen shot 2019-02-12 at 3 22 16 pm](https://user-images.githubusercontent.c

[2019-02-15 21:55] chrisklus opened #72 "Steady memory leak"
From https://github.com/phetsims/blackbody-spectrum/issues/33.

I recorded heap snapshots at one-minute intervals while the sim was fuzzing and found that there's a steady memory leak. These numbers are not concerning from a general size perspective, but the sim is growing a bit from its original size.

Test | Memory Usage (MB)
--- | ---
Immediately after load | 17.6
After 1 min of fuzz | 21.0
Aft

[2019-02-15 22:35] chrisklus opened #73 "x must be a finite number: Infinity"
From https://github.com/phetsims/blackbody-spectrum/issues/33.

Steps to reproduce:

1. Load the sim with `showPointerAreas` enabled
2. Check the "Graph Values" checkbox
3. Slide the point node all the way left until an assertion fails

Found on Chrome/MacOS 10.13

[code]

@arnabp I'm not sure how relevant this is to the sim code, but maybe look into it a bit to find out more.

[2019-02-15 22:50] chrisklus opened #74 ""K" should be translatable"
From https://github.com/phetsims/blackbody-spectrum/issues/33.

In States of Matter, "K" is translatable, so it should be here as well. All other strings look good.

<img width="822" alt="screen shot 2019-02-15 at 3 46 04 pm" src="https://user-images.githubusercontent.com/5618316/52888440-e3b91d00-3138-11e9-9c88-004d003358a8.png">

[2019-02-15 23:38] chrisklus opened #75 ""Blackbody Temperature" label max-width is too wide"
From https://github.com/phetsims/blackbody-spectrum/issues/33.

When testing with `stringTest=double` or `stringTest=long`, if the sim is constrained by its left and right bounds, "Blackbody Temperature" is cut off.

![kapture 2019-02-15 at 16 37 20](https://user-images.githubusercontent.com/5618316/52890081-07339600-3140-11e9-903e-678d0ca3cb91.gif)

[2019-02-18 19:22] chrisklus opened #76 "String keys need improvement"
From https://github.com/phetsims/blackbody-spectrum/issues/33.

It looks like keys from the older sim were ported over and have not been updated. According to the checklist, standard PhET convention is to not add a descriptor to the string key unless it would collide with another key, or if the value cannot really be used as the key.

IMO, it seems reasonable to me to tack on "Label" to the key wh

[2019-02-18 19:34] chrisklus opened #77 ""doc" directory is missing"
From #33.

In the blackbody-spectrum repo, there should be a directory called "doc" that contains model.md and implementation-notes.md.

See https://github.com/phetsims/graphing-quadratics/blob/master/doc/model.md and https://github.com/phetsims/graphing-quadratics/blob/master/doc/implementation-notes.md for an example.

[2019-02-19 19:30] chrisklus commented on #76
I added one review comment related to this, but thought I should mention here to not forget to update the string var names to match the updated keys.

[2019-02-19 20:37] chrisklus opened #78 "No assertions used"
From #33.

No assertions are used in this sim. @arnabp if you can think of some places where these would be appropriate, please add them.

[2019-02-19 21:25] chrisklus commented on #33
Review complete. Looking good @arnabp, nice work!

Any items on the checklist that are not checked have been marked with a corresponding "UPDATE:", with a link to the work that needs to be done to finish that item. There are other incomplete items on the checklist that have been checked off because the remaining work for them is outlined with REVIEW  comments in code. There are 53 REVIEWs marked i

[2019-02-21 16:19] jessegreenberg commented on #72
I recently did memory profiling in https://github.com/phetsims/ohms-law/issues/124 and saw the heap snapshots grow from 25 to 32 MB over the course of ~4 hours or so but eventually stabilize at ~32 MB after about an hour. I am wondering if the same sort of memory profile would show up here after much longer fuzzing.

[2019-02-23 00:23] KatieWoe commented on #55
Looks good in 1.0.0-dev.13

[2019-02-23 00:26] KatieWoe commented on #67
This is fixed as of 1.0.0-dev-13.  Noting here that performance on IE is quite laggy on the thermometer.

[2019-02-25 17:01] KatieWoe commented on #63
The blackout portion of this issue seems solved when testing Mac 10.14 safari in the new dev version. @arnabp

[2019-02-25 17:20] KatieWoe opened #79 "Slight lag of temperature controls in certain situations."
**Test device:**
Dell and Jordan
**Operating System:**
Win 10 and Mac 10.14
**Browser:**
firefox, chrome, and safari
**Problem description:**
For https://github.com/phetsims/QA/issues/285
Easier to see in slightly slower devices such as the mac.  When both axis of the graph are zoomed far out and the temperature is near the bottom of the scale, the temperature control is noticeably more laggy.
**S

[2019-02-25 17:44] KatieWoe opened #80 "Projector mode Intensity hard to read"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/285
The Intensity value in projector mode is written in black on dark grey, making it hard to see.  If this appears differently when projected, let me know.
**Screenshots:**
![hardtoread](https://user-images.githubusercontent.com/41024075/53356948-dc88d080-38e9-

[2019-02-25 17:56] KatieWoe opened #81 "Graph Value always shows up on x-axis, but not on y-axis"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/285
When the Graph Value point is larger then both axis the label number will show up for the x-axis, but not for the y-axis.
**Steps to reproduce:**
1. Select Graph Values
2. Lower temp to about lightbulb
3. Zoom both axis in as much as possible

**Screenshots:

[2019-02-25 19:13] DianaTavares commented on #81
I like the behavior of the x-axis. In that way user can see always the value of the peak, can move all the range of temperatures in the thermometer, without the necessity of being zooming, if the intention is just to see how this values change. My suggestion is change y-axe to do the same that x-axe.
what fo you think @ariel-phet ?

[2019-02-25 19:15] KatieWoe commented on #79
This is much more pronounced, and through the entire thermometer, when saved lines are present.

[2019-02-25 19:21] DianaTavares commented on #80
@KatieWoe thanks for the observation! @arnabp please change the text to white  in the intensity value in the projector mode.

[2019-02-25 19:29] KatieWoe commented on #79
This shows the lag better than the earlier example:
![betteratshowinglag](https://user-images.githubusercontent.com/41024075/53363141-0269a180-38f9-11e9-97c8-65f78b8d46ce.gif)

[2019-02-25 23:40] KatieWoe commented on #60
This behavior isn't exactly what was meant.  In Graphing Quadratics the active line is only behind the saved lines until some sort of interaction occurs.  After interaction occurs the active line is layered at the front.  This can be seen in the first screen, which is more comparable in behavior to this sim, but easier to demonstrate on the second screen, as shown bellow.  I believe this is what w

[2019-02-26 01:37] DianaTavares commented on #60
I really like that the active line stay in from of the saved lines. I am agree with @KatieWoe that implemente the same behavior that graphing quadratics is nicer. What do you think @ariel-phet?

[2019-02-26 03:14] ariel-phet commented on #60
@DianaTavares I agree, the behavior should match graphing quadratics.

[2019-02-26 15:36] KatieWoe opened #82 "X-axis lacks final tick"
For https://github.com/phetsims/QA/issues/285. General design question
As seen in the image bellow, the y-axis has an end tick (though no in between ticks).  The x-axis has several in between ticks but does not have one indicating the largest value (in this case .75).  Per @DianaTavares this is a design issue to address.
![endbit](https://user-images.githubusercontent.com/41024075/53425062-9727da0

[2019-02-26 18:56] ariel-phet commented on #81
@arnabp I think I agree, seems there is no downside to having this behavior be symmetric between the x and y axes, and seems a bit odd for it to be different. Let's have both behave the same way.

[2019-02-26 19:03] arnabp commented on #73
Found the cause to be the attempted creation of a pointer area around dashed line path which had y values approaching -1e-20. Fixed and closing.

[2019-02-26 19:03] #73 closed

[2019-02-26 19:11] arnabp commented on #74
Added the appropriate string, used the same label name as was used in States of Matter, closing.

[2019-02-26 19:43] arnabp commented on #75
Reduced maxWidth to align with the INSET margins, closing

[2019-02-26 19:43] #75 closed

[2019-02-26 21:11] DianaTavares commented on #82
@arnabp please add a little line (same size and width that y-axe) to the end of the x-axe.

[2019-02-26 21:20] arnabp commented on #72
Discussed this issue with @jbphet, he's following up on the issue linked above, and he'll update this issue as well

[2019-02-26 22:19] arnabp commented on #76
The recommended suggestions all looked good and have been implemented, and all respective string variable names have also been updated, closing

[2019-02-26 22:19] #76 closed

[2019-02-26 22:20] arnabp commented on #79
I believe the problem has been identified. Will keep this open to watch out for in future rounds of testing

[2019-02-26 22:27] arnabp commented on #55
Appears to be fixed, closing

[2019-02-26 22:27] #55 closed

[2019-02-26 22:31] arnabp commented on #63
Since blackout issue appears to be fixed, I'm closing. I will note however, that general performance issues will continue to be observed and fixed on a general basis.

[2019-02-26 22:31] #63 closed

[2019-02-26 22:32] arnabp commented on #67
Since loading issue appears to be fixed, I'm closing. I will note however, that general performance issues will continue to be observed and fixed on a general basis.

[2019-02-26 22:32] #67 closed

[2019-03-05 18:02] samreid commented on #36
Please see https://docs.google.com/document/d/1OfHhIDuaBt-hhXVtpnJgM3Wm0iByJ7dmXd-2UkphUR4/edit# for a reference of Graphing Quadratics PhET-iO design.

[2019-03-05 20:18] chrisklus opened #83 "PhET-iO instrumentation"
## Before instrumenting
- [x] Create a "PhET-iO Instrumentation" issue in the simulation repository.  Copy this checklist to the issue description (top issue comment) for tracking. From https://github.com/phetsims/phet-io/commit/d7c77db3f97c46c4fe58a39bd79dc227342d15c6.
- [x] Understand the goal. Launch the Faraday's Law wrapper index, read through it and visit all of the linked wrappers and docs.

[2019-03-05 20:25] chrisklus commented on #83
Benchmark sim prior to instrumentation: https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.0-dev.14/phet/blackbody-spectrum_en_phet.html

[2019-03-05 22:22] jbphet commented on #72
I just tested this again, and there is a screenshot below that captures the results.  I changed the test to go like this:
1. Load with fuzz running, run for 2 minutes
2. Take a snapshot (snapshot 1 below)
3. Press the reset button, then take another snapshot (snapshot 2 below)
4. Re-enable fuzzing, capture snapshots every minute for 5 minutes (snapshots 3-7)
5. Press the reset button and take a sn

[2019-03-05 22:22] #72 closed

[2019-03-05 23:52] KatieWoe opened #84 "CT no such file or directory"
[code]

[2019-03-06 16:16] KatieWoe opened #85 "CT cannot read property createTandem"
[code]

[2019-03-06 23:53] chrisklus commented on #84
This was fixed in https://github.com/phetsims/blackbody-spectrum/commit/11b38b9039a1c0dbf6178281fc8d7b56d90c61f5, closing.

[2019-03-06 23:53] #84 closed

[2019-03-07 00:01] chrisklus commented on #85
This is fixed, closing.

@KatieWoe I'm instrumenting blackbody spectrum for phet-io, so feel free to assign me if issues come up that look phet-io related.

[2019-03-07 00:01] #85 closed

[2019-04-02 22:54] KatieWoe opened #86 "CT No such file or directory"
[code]

[2019-04-02 23:30] arnabp commented on #86
This is the second time I've had issues when renaming a file. Looks like a phet-io issue. @chrisklus Is there an extra step I should be taking when a file gets renamed that I don't know about or is this something you have to take care of on your end with instrumentation?

[2019-04-02 23:34] arnabp commented on #86
Nevermind, I forgot directory case search doesn't check the actual file names, missed a spot. Checking to make sure CT is happy then closing.

[2019-04-03 15:47] jbphet commented on #86
CT is looking good, closing.

[2019-04-03 15:47] #86 closed

[2019-04-16 20:12] arnabp commented on #41
Hey @DianaTavares can you take a look at this again and think about what we wanna do with this? We're finishing up the sim soon.

[2019-04-16 20:19] arnabp commented on #15
Supplanted by primary code review: https://github.com/phetsims/blackbody-spectrum/issues/33

[2019-04-16 20:19] #15 closed

[2019-04-16 20:27] DianaTavares commented on #41
I like this Amy's suggestion, the labels are more important that the arrow, and its hard to read them when the arrow and the number are in the same place
![Screen Shot 2019-04-16 at 2 21 11 PM](https://user-images.githubusercontent.com/26031501/56241514-43597900-6053-11e9-9250-359ccf59e885.png)
Then, put a black (or white in the proyector mode) background to the numbers that cover the arrow
![Scre

[2019-04-24 23:52] chrisklus commented on #83
@arnabp the instrumentation process required a non-trivial refactor for item number 5 on the list in https://github.com/phetsims/blackbody-spectrum/issues/36#issuecomment-425247890. The relevant changes are in https://github.com/phetsims/blackbody-spectrum/commit/1dc0c91ebb2103fbec6dcefdd3d76ec1cb44a87a, could you please review?

[2019-05-08 18:30] chrisklus opened #87 "Convert to es6"
@samreid and I were thinking that we should convert to es6 before publication.

@ariel-phet said for me to go ahead and do this.

[2019-05-08 20:29] arnabp commented on #83
@chrisklus reviewed BGRAndStarDisplay. I put the node's initial layout placement back in BlackbodySpectrumScreenView, everything else looks good.

[2019-05-08 20:30] arnabp commented on #77
Added appropriate docs

[2019-05-08 20:30] #77 closed

[2019-05-14 05:06] chrisklus commented on #87
ES6 conversion complete.

Tagging @arnabp so you're aware - please reopen if you see any problems.

Closing.

[2019-05-14 05:06] #87 closed

[2019-05-14 05:11] chrisklus commented on #83
@arnabp sounds good, thanks.

[2019-05-15 21:39] arnabp commented on #82
Added identical tick 👍

[2019-05-15 21:39] #82 closed

[2019-05-15 22:24] arnabp commented on #78
Added some assertions in places that felt appropriate

[2019-05-15 22:24] #78 closed

[2019-05-16 19:06] jbphet commented on #36
A few weeks ago we discussed whether this sim should go to RC with both PhET and PhET-iO brands.
 At the time, we decided to defer that decision until we were closer to publication.  @chrisklus said that the instrumentation of the sim itself would not block the PhET-iO brand testing and publication, so it is the state of the common code and PhET-iO library code that would likely be the determining

[2019-05-17 21:06] arnabp commented on #81
y axis label now stays on the graph even if the graph value point goes off the graph

[2019-05-17 21:06] #81 closed

[2019-05-17 21:21] arnabp commented on #80
The intensity value is now always white

[2019-05-17 21:21] #80 closed

[2019-05-17 23:52] chrisklus opened #88 "Thermometer slider laggy when console is open"
I've been noticing that when the console is open, the temperature slider on the thermometer is quite laggy:

![Kapture 2019-05-16 at 14 14 38](https://user-images.githubusercontent.com/5618316/57960131-64b4bb80-78c4-11e9-9d3a-cc2861ce56ad.gif)

@samreid suggested that maybe the code is just fast enough to not lag when the console is closed, but then when the dev tools are open and running, it send

[2019-05-18 01:04] arnabp commented on #60
The saved graph now appears in front of the main graph whenever it's created, then moves behind the main graph as soon as the main graph changes in any way. This should match with the graphing quadratics behavior.

[2019-05-18 01:04] #60 closed

[2019-05-20 19:30] arnabp commented on #88
While I haven't seen these symptoms to the same extent you have, the fact that the lagginess is directly correlated with the clipshape means it's likely to cause performance issues on other platforms. I'll go ahead and implement this fix and monitor it in the future.

[2019-05-20 23:17] arnabp commented on #88
Modified the respective update functions to no longer re-generate the shapes for shape clipping. @chrisklus tested it on his machine and he's no longer experiencing lag. Will keep this open for testing.

[2019-05-21 02:34] ariel-phet commented on #36
@jbphet @arnabp I concur. PhET-brand should be published without worrying about publishing an iO brand simultaneously.

[2019-05-21 19:31] arnabp commented on #41
The text now has a black background which the arrows now go behind.

[2019-05-21 19:31] #41 closed

[2019-05-21 19:54] arnabp commented on #19
GraphDrawingNode was split up into itself, ZoomableAxesView, and GraphValuesPointNode

[2019-05-21 19:54] #19 closed

[2019-05-21 21:13] arnabp commented on #62
Found and fixed the bug causing the "rainbow don't match with the visible label little line" issue! Closing.

[2019-05-21 21:13] #62 closed

[2019-05-21 21:26] arnabp commented on #33
I've fixed up all REVIEW comments and resolved the code review referenced issues. Ready for @chrisklus to check that all relevant changes have been made.

[2019-05-21 22:55] lmulhall-phet opened #89 "Make X in scientific notation a multiplication symbol"
For https://github.com/phetsims/QA/issues/320.

Here's what it looks like now:

![Screen Shot 2019-05-21 at 4 50 09 PM](https://user-images.githubusercontent.com/31285590/58135716-be7cf480-7be8-11e9-94d2-77f3e4737673.png)

It should be a multiplication symbol. See https://github.com/phetsims/inverse-square-law-common/issues/50.

Linking to https://github.com/phetsims/blackbody-spectrum/issues/71 s

[2019-05-22 15:37] KatieWoe opened #90 "Zooming axis relayers active line"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/320.  Related to https://github.com/phetsims/blackbody-spectrum/issues/60
When the graph axes are zoomed in or out, the red active line is moved behind the grey solid line, even when it was moved and brought to the front before.
**Steps to reproduce:**
1. Save a

[2019-05-22 15:45] KatieWoe commented on #46
A few things noticed so far.
1. https://github.com/phetsims/blackbody-spectrum/issues/46#issuecomment-462081084 has not been changed.  Should it?
![implament](https://user-images.githubusercontent.com/41024075/58188332-a43d2800-7c75-11e9-8408-5bceeb822dce.png)
2. When the sim is started (x=3, y=140) without string tests, clicking the Labels box will show Ultraviolet, Visible, and Infrared.  When s

[2019-05-22 15:49] KatieWoe commented on #88
Didn't see any problems on Win 10 chrome.  Will check a few other platforms before closing.

[2019-05-22 15:58] DianaTavares commented on #46
I think that both behaviors are ok. The y-axes label fit in the space with the double string length. And for the "visible" label, well not all the spectrum has it name in the graph because the space is small. I think that is ok if in some languages, if the string is very long, it is better to hide it, because with a smaller font size can be hard to read.

What do you think @ariel-phet

[2019-05-22 16:37] KatieWoe commented on #79
Looks a fair bit better.  Will continue to keep an out and close if nothing else shows up.

[2019-05-22 16:57] KatieWoe opened #91 "Pointer Areas on Graph Value Arrows Stay After Arrows Leave"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/320
The pointer areas for the Graph Values, particularly the arrows that are there when first selected, behave oddly.  The arrows can be grabbed with a mouse, but once they are gone that area is not grabbable.  The red area that shows touch area does not leave.

[2019-05-22 17:07] DianaTavares commented on #90
good catch @KatieWoe. Yes, it look strange, it need to be fixed.

[2019-05-22 17:21] DianaTavares commented on #91
yes, that looks strange. I am sure that the touch area should be big because is just a dot, but I don't think it should to be the same that the arrows when they are not any more in the play area.

[2019-05-22 18:14] KatieWoe opened #92 "Arrows clip in and out of visibility"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/320.  Fairly minor
When the graph value arrows go over the y-axis, the left disappears so it doesn't cover a number.  However, in certain locations (mostly near the bottom of the graph) parts of it can still be seen.
**Steps to reproduce:**
1. Refresh the sim
2

[2019-05-22 18:20] JRomero0613 commented on #79
Looks better, tested on Safari on Jordan.

[2019-05-22 19:57] KatieWoe opened #93 "Graph Value line disappears"
**Device**
Hopper
**OS**
iOS 12.3
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/320
When the graph values point/line is dragged to the edge of the x-axis, the x line turns invisible.  It can be dragged to that point without any zooming, but once let go of, it can't be picked up.  If the point is bellow the y-axis max, it can be seen and dragged.
On Slack:
[co

[2019-05-22 20:15] KatieWoe commented on #88
Seems good

[2019-05-22 20:15] #88 closed

[2019-05-22 20:15] KatieWoe commented on #79
Seems good

[2019-05-22 20:15] #79 closed

[2019-05-22 20:51] KatieWoe opened #94 "RTL Labels do not break up spectrum"
**Device**
Chadwick
**OS**
ChromeOS
**Browser**
74.0.3729.159
**Problem Description**
For https://github.com/phetsims/QA/issues/320
When stringTest=rtl, the labels of various parts of the spectrum do not show up.  No tick marks appear when they should.  Only one string shows up centered on the graph, no matter where the various spectrum bars are
**Steps to Reproduce**
1. stringTest=rtl
2. Turn on

[2019-05-22 20:53] DianaTavares commented on #94
definitely a bug that have to be fix

[2019-05-23 16:02] DianaTavares opened #95 "the rainbow looks strange (several parallel lines in the picture)"
Test device: MacBook Air (13-inch, 2017)

Operating System: macOS Mojave

Browser: Chrome Version 74.0.3729.169 (Official Build) (64-bit)

Problem description: when I zoom in in the rainbow, it have several parallel vertical lines.

Steps to reproduce:
zoom in the x-axes to see the rainbow

Screenshots:

![Screen Shot 2019-05-23 at 9 34 28 AM](https://user-images.githubusercontent.com/26031501/582

[2019-05-23 16:27] arnabp commented on #94
This is something that comes up if you do any stringtest that's not double, because the implementation for the labels depends on the names for the different wavelengths being different. Because most stringtests replace every string with the same word, the spectrum label combines all of them.

I don't, however, see this being a problem outside of testing purposes I believe? Translations should have

[2019-05-23 16:35] ariel-phet commented on #46
@arnabp I am OK with the the y-axis behavior, but for the spectrum labels, but "Visible" and "Ultraviolet" should scale down in size as needed to make them fit. Having the labels completely disappear does not seem like good behavior. I know these may become quite small in some locales, but we just need to accept that possibility.

[2019-05-23 17:58] arnabp commented on #95
@KatieWoe Would you be able to see about recreating this on any of the test machines? I wasn't able to recreate this on my machine and I talked to @DianaTavares who said it's possible it's something strange going on in her system specifically.

[2019-05-23 18:03] KatieWoe commented on #95
I'll take another look.

[2019-05-23 18:16] KatieWoe commented on #95
From Slack:
[code]

[2019-05-23 18:17] arnabp commented on #95
Making a note here that this issue is a result of https://github.com/phetsims/scenery-phet/issues/500

[2019-05-23 18:27] arnabp commented on #46
How does this look as a compromise between disappearing text and tiny text?
<img width="1437" alt="Screen Shot 2019-05-23 at 12 19 50 PM" src="https://user-images.githubusercontent.com/8583364/58276772-8a731200-7d55-11e9-8c91-723665cb288b.png">
<img width="1440" alt="Screen Shot 2019-05-23 at 12 20 05 PM" src="https://user-images.githubusercontent.com/8583364/58276776-8d6e0280-7d55-11e9-933d-32444

[2019-05-23 18:49] arnabp commented on #89
Changed all three instances of scientific notation to use multiplication symbol

[2019-05-23 18:49] #89 closed

[2019-05-23 21:29] arnabp commented on #93
Fixing this made me remember that the reason it was like this to begin with was that we DO want the line to disappear when the point node goes off the graph when adjusting temperature. But we don't want it to go off stage when it's being dragged. It's been adjusted accordingly now.

[2019-05-23 21:29] #93 closed

[2019-05-23 22:11] arnabp commented on #92
This is related to #71. The intent was never to make the arrow completely disappear, I did want it to be somewhat visible if it, say, barely clipped the label. But the arrow at the very bottom of the axis is pretty ugly. So I'll reduce the size of the arrows so they fit. However, it'll still be clip a little when it's lined up horizontally and the clipping will be more apparent at the top. See mas

[2019-05-23 22:35] DianaTavares commented on #92
can the background of the label be bigger to get closer to the white vertical line of the y_axe?

![Screen Shot 2019-05-23 at 4 27 34 PM](https://user-images.githubusercontent.com/26031501/58290739-f2d2eb00-7d77-11e9-992c-3e08f11ff00a.png)

I think that it look good, but if you extend a little the background of the label to cover the arrow, it looks like only belongs to the graph and not outside.

[2019-05-28 19:05] ariel-phet commented on #46
@arnabp looks good, I think that is a good compromise

[2019-05-28 19:14] arnabp commented on #46
I think we've reached a state that makes sense for everyone, closing.

[2019-05-28 19:14] #46 closed

[2019-05-28 21:12] arnabp commented on #91
@jbphet and I took a look at this. While the touch area does seem strange, the additional touch area doesn't seem to really hurt the functionality of the sim. There's no immediate overlap with anything that would prevent users from moving the point, and I tested overlap against the panel on the right and found no issues with functionality. It's not so big that it seems unreasonable for the point t

[2019-05-28 21:15] arnabp commented on #95
This has been resolved as a result of the changes to scenery, closing.

[2019-05-28 21:15] #95 closed

[2019-05-28 21:27] arnabp commented on #90
Changes to layering of active and saved lines should now match up with expected behavior, closing

[2019-05-28 21:27] #90 closed

[2019-05-29 22:10] arnabp commented on #92
Arrow clipping now lines up perfectly with the leftmost side of the y axis, this should make the most sense without having any stray pixels visually, closing.

[2019-05-29 22:36] arnabp commented on #94
Discussed this with @jbphet and decided it was risky to use strings as keys in an Object. Moved away from that, which allows the label text to behave as expected. RTL, x, and any other stringtests will now break up the spectrum properly, closing.

[2019-05-29 22:36] #94 closed

[2019-05-30 02:41] ariel-phet commented on #91
@KatieWoe thanks for pointing out. I confirmed this touch area does indeed exists on either side of the dot using my Win 10 touch screen (it is not just a quirk of `?showPointerAreas`)

However, I agree with the assessment above, it is not really causing any harm. And probably doesn't need to be fixed. Closing

[2019-05-30 02:41] #91 closed

[2019-05-30 03:07] ariel-phet opened #96 "Reposition zoom controls for x-axis"
The zoom controls for the x-axis are a bit tight to the number on the axis, there should be a bit more negative space. I think the same amount of negative space that is between the zoom controls and the number on the y-axis should be between the number on the x-axis and its zoom controls.

Found as part of https://github.com/phetsims/QA/issues/328

Here is an adjusted screenshot

![bb](https://use

[2019-05-30 03:21] ariel-phet commented on #71
@arnabp most things look pretty good to me, but there appears to be some unecessary space when the y-axis label changes to scientific notation between the "power of 10" and the multiplication symbol.

Notice in the screenshot below that the Graph Value scientific notation looks appropriately spaced but the y-axis label is a bit oddly spaced.

![scientific notation](https://user-images.githubuserco

[2019-05-31 18:11] etwa4650 opened #97 "Part of Ipad screen gets cut off on ?stringTest=X"
<b>Test Device</b>

Pauling

  <b>Operating System</b>

IOS 11.4.1

  <b>Browser</b>

 Safari

  <b>Problem Description</b>

For https://github.com/phetsims/QA/issues/328. Right side of screen and slider for thermometer gets cutoff on ?stringTest=X

I don't think this will ever be a problem but figured i would make an issue just in case.

  <b>Steps to Reproduce</b>

?stringTest=X

  <b>Visuals</b

[2019-06-11 15:56] arnabp commented on #71
Good catch. I've updated the spacing on the y-axis label to be consistent with the graph point label. Looks like that's the last comment on this design pass so I'll go ahead and close this.

[2019-06-11 15:56] #71 closed

[2019-06-11 20:58] arnabp commented on #97
This is a good catch, the layout wasn't implemented very well. I believe I've fixed it up so it shouldn't get cut off on any string tests. Leaving open for future testing.

[2019-06-11 21:00] KatieWoe commented on #92
Looking at https://github.com/phetsims/QA/issues/328.  I saw that the point gets a little cut off now if close to the edge.  I think this looks better than the alternative, so feel free to close if you agree @DianaTavares
![cutsoffpoint](https://user-images.githubusercontent.com/41024075/59306495-961d6e80-8c59-11e9-9ae0-38919d691220.png)

[2019-06-11 21:04] DianaTavares commented on #92
can the dot just be in front of the label black background?

[2019-06-11 21:13] KatieWoe opened #98 "Long strings for temp too large"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/328.  May be connected to https://github.com/phetsims/blackbody-spectrum/issues/97
When string test is long the temperature string goes out of bounds severely.
**Steps to reproduce:**
1. Set up ?dev and stringTest=long
2. Observe

**Screenshots:**
![longextends]

[2019-06-11 21:17] KatieWoe commented on #98
Shows up with rtl as well

[2019-06-11 21:32] KatieWoe opened #99 "Colors of the star should match the Flash version"
For https://github.com/phetsims/QA/issues/328.  @DianaTavares and I noticed that the html colors are darker than the flash colors.  It caught my attention in the area that is around the light bulb temperature.  It looks particularly brown to me, which seemed odd.  Creating this issue for discussion of what the colors should look like.

[2019-06-11 21:59] DianaTavares commented on #99
The colors in the flash and in the HTML5 version are different (I think that the HTML5 version have a dark background behind the star). For example this pictures with the same temperature in both sims:
Flash
![Screen Shot 2019-06-11 at 3 48 56 PM](https://user-images.githubusercontent.com/26031501/59309605-417df180-8c61-11e9-99c6-ecc428a6607a.png)

HTML5
![Screen Shot 2019-06-11 at 2 41 02 PM](htt

[2019-06-11 22:24] DianaTavares opened #100 "Some labels shake when the temperature changes"
Test device: MacBook Air

Operating System: macOS Mojave 10.14.3

Browser: Chrome Version 74.0.3729.169 (Official Build) (64-bit)

Problem description: When the temperature change to values around the temperature of the light bulb, some of the label (Wavelength, the mark in the thermometer, the BGR, the 0 and 3) shake.

Steps to reproduce:
move the thermometer down and up in values around the ligh

[2019-06-11 22:27] KatieWoe opened #101 "LoL icon/description"
BBS just finished the first rc.  It needs LoL descriptions.
For https://github.com/phetsims/QA/issues/328

[2019-06-12 18:05] arouinfar commented on #101
Assets are ready for delivery to LoL, closing.

[2019-06-12 18:05] #101 closed

[2019-06-12 19:07] ariel-phet commented on #99
@arnabp yes this should be fixed, feel free to use the flash sim as a reference. My guess is that as @DianaTavares pointed out there is something going on with an interaction between the star, its color opacity, and the background. You might need to layer in something on the background of the star, or perhaps they colors just need to be at full opacity.

[2019-06-18 16:01] arnabp commented on #99
Yep, I've changed the opacity of the star to be more forgiving at the mid-range of the thermometer. All the colors are closer to what they should be now, and opacity decreases occur more aggressively under light bulb temperature now.

[2019-06-18 16:01] #99 closed

[2019-06-18 16:11] arnabp commented on #100
I'm not currently seeing this issue. I'm not sure if it's something I can't see because it's platform/machine specific, or if it's just something I inadvertently fixed seeing as this is coming from phettest. I'll leave it open for the next RC.

[2019-06-18 18:42] arnabp commented on #92
Was able to split up the dot and the arrows and put the arrows in front of the text label. I'll keep this open for testing.

[2019-06-18 18:44] arnabp commented on #98
Fixed, should be the last item that wasn't changed for i18n. Will leave open for testing.

[2019-06-18 21:31] arnabp commented on #96
So technically the zoom buttons were the same distance away from the axes on the x and y sides. But the axis labels on the x-axis side were larger, so the zoom buttons were closer to the text itself. I've adjusted the text to be the same size across both axes.

Please verify in (blackbody-spectrum/1.0.0-rc.2)[https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.0-rc.2/phet/blackbody-spectrum_

[2019-06-19 02:47] ariel-phet commented on #96
Looks good. Closing

[2019-06-19 02:47] #96 closed

[2019-06-19 02:49] ariel-phet commented on #7
@arnabp please check in with @samreid once the sim is published as noted above

[2019-06-19 02:50] ariel-phet commented on #30
@arnabp can you confirm this all looks good?

[2019-06-19 02:54] ariel-phet commented on #10
@arnabp would be good to make any appropriate changes and close out this issue.

[2019-06-19 02:54] ariel-phet commented on #16
@arnabp please double check these before publication

[2019-06-19 02:55] ariel-phet commented on #4
I believe this can be closed.

[2019-06-19 02:55] #4 closed

[2019-06-19 18:28] KatieWoe commented on #98
This looks good on 1.0.0-rc.2

[2019-06-19 18:28] #98 closed

[2019-06-19 18:54] KatieWoe opened #102 "Short strings should not be centered"
For https://github.com/phetsims/QA/issues/348
This was mentioned in Slack, but I realized there was no issue created for it.

The short strings in the tool box are meant to be towards the left, but they are towards the center.  The check boxes should not move from their position in the untranslated sim.  To see this, use stringTest=X

![shouldcenter](https://user-images.githubusercontent.com/41024

[2019-06-19 19:01] DianaTavares commented on #102
Yes, the check boxes shouldn't move. They should be aligned to the left . Thanks for the observation Katie

[2019-06-19 19:40] etwa4650 commented on #100
@arnabp I have been able to replicate this, but only on older versions of macOS (10.12 and earlier) and Firefox. Also, I could only replicate within iFrame or on very small browser windows.

[2019-06-19 19:42] KatieWoe commented on #100
@DianaTavares up to you if you find this acceptable.

[2019-06-19 19:56] KatieWoe commented on #97
This looks solved 1.0.0-rc.2

[2019-06-19 19:56] #97 closed

[2019-06-19 19:57] DianaTavares commented on #100
Still happening in my computer. But it was not observe in other devices and system. @KatieWoe suggest that may be a problem with the resolution of my computer. I think that it's ok to close this if is a problem only found in my computer.

[2019-06-19 19:57] #100 closed

[2019-06-19 20:00] KatieWoe commented on #100
Well keep an eye out just in case

[2019-06-19 20:01] KatieWoe commented on #92
Looks good 1.0.0-rc.2

[2019-06-19 20:01] #92 closed

[2019-06-20 19:51] DianaTavares opened #103 "Make the gray saved lines 1pt thinner"
Amy did interviews today with the Blackbody sim, and she noticed that it is not evident that the red curve is behind the gray curve when the "Save" button is clicked. She suggests making the gray line 1 pt thinner.

I think is ok! What do you think @ariel-phet ?

[2019-06-20 20:31] arnabp commented on #10
The design doc states: "Visible light  rage is 400 - 700 nm (380 to 780 nm)"

Which is a bit strange that its range is stated twice without any clear indication of which should've been used. Presumably the first range was used initially but it seems clear here that the second range is the more accurate version. I'll go ahead and change these to accurately reflect the second range that is also used

[2019-06-20 20:35] #10 closed

[2019-06-20 20:46] arnabp commented on #30
Elaborated a couple of the function docs a little more. Everything else looks good, closing.

[2019-06-20 20:46] #30 closed

[2019-06-20 20:54] arnabp commented on #103
Here is the difference for reference:
Before
<img width="822" alt="Screen Shot 2019-06-20 at 2 48 25 PM" src="https://user-images.githubusercontent.com/8583364/59880548-880ed280-936a-11e9-9607-9c2ab4115fce.png">
After
<img width="813" alt="Screen Shot 2019-06-20 at 2 48 07 PM" src="https://user-images.githubusercontent.com/8583364/59880547-87763c00-936a-11e9-9494-534e845c496c.png">

And how the sa

[2019-06-20 22:08] DianaTavares commented on #103
I like how it looks when the gray graph is over the red one. But I like it more when both have the same side when they are part.

[2019-06-21 13:17] pixelzoom commented on #16
Be sure to check with @KatieWoe for QA credits.

[2019-06-21 14:44] KatieWoe commented on #16
QA credits: Liam Mulhall, Jacob Romero, Ethan Ward, and Kathryn Woessner

[2019-06-21 20:07] arnabp commented on #103
Agreed. Since the red line switches being being on top of the saved lines when it's moved, what I could do is restore the size of the saved line when that change happens. That way when a saved line is created it appears smaller and therefore more visible, but once interaction begins it becomes as visible as the red line.

[2019-06-21 20:08] DianaTavares commented on #103
I like it! If it is not a lot of work, I said do it!

[2019-06-21 20:28] KatieWoe commented on #102
For https://github.com/phetsims/QA/issues/350 actually

[2019-06-21 20:52] DianaTavares opened #104 "Sim screenshots"
Here are the screenshots of the sim:

Principal:
![Screen Shot 2019-06-21 at 2 43 42 PM](https://user-images.githubusercontent.com/26031501/59950665-df2caa00-9433-11e9-90a0-9b2822b8c0c5.png)

Alternatives:
![Screen Shot 2019-06-21 at 2 59 09 PM](https://user-images.githubusercontent.com/26031501/59951126-31ba9600-9435-11e9-9fb3-b50c54d818cc.png)

![Screen Shot 2019-06-21 at 3 01 16 PM](https://use

[2019-06-21 22:09] KatieWoe commented on #104
Above commits should do it.  Closing.

[2019-06-21 22:09] #104 closed

[2019-06-23 23:46] ariel-phet commented on #103
Sounds good

[2019-06-25 21:29] chrisklus commented on #74
The usage of `kelvinUnitsString` looks good in BlackbodySpectrumScreenView.js, but 'K' is still hard-coded in SavedGraphInformationPanel.js - could you use it there as well?

<img width="1339" alt="Screen Shot 2019-06-25 at 5 27 42 PM" src="https://user-images.githubusercontent.com/5618316/60135027-d5c27b00-976e-11e9-9ec2-cd80708a91a9.png">

[2019-06-25 23:07] chrisklus commented on #33
Looks really good @arnabp, nice work. I reviewed the relevant issues and checked off their corresponding boxes.

https://github.com/phetsims/blackbody-spectrum/issues/74 is the only issue that requires any more work, so I'm going to close this issue.

[2019-06-25 23:07] #33 closed

[2019-07-02 17:11] arnabp commented on #74
Appropriate changes made, leaving open for QA

[2019-07-02 17:14] arnabp commented on #102
Text boxes are now aligned to the left. I also had to play around with the alignment and sizes of the other elements in this control panel because of this change. Leaving open for QA, please verify that the entire control panel behaves as expected.

[2019-07-02 17:16] arnabp commented on #103
Line widths now change when certain interactions occur to match the requested behavior. Leaving this open for QA testing to verify that these behaviors have been met and no other issues appear with the saved lines and the layout order because of this.

[2019-07-03 16:15] KatieWoe commented on #16
Steele Dalton should be added to credits.
https://github.com/phetsims/QA/issues/357

[2019-07-03 18:31] KatieWoe commented on #74
Now that the saved line Ks are translatable, the box can become too large.  There should be a max width.
![toolong](https://user-images.githubusercontent.com/41024075/60616356-7c6dd380-9d8e-11e9-921a-54e77ff587d0.png)

[2019-07-03 18:34] KatieWoe commented on #102
Looks good

[2019-07-03 18:36] KatieWoe commented on #103
Looks good to me

[2019-07-03 18:36] #103 closed

[2019-07-05 15:22] arnabp commented on #74
Added the maxWidth, should be good now, closing.

[2019-07-05 15:22] #74 closed

[2019-07-06 06:48] arouinfar opened #105 "Should this sim have a master checklist?"
In making 1.0.0 visible, I realized this sim doesn't have a master checklist. @ariel-phet I know the development history of this sim is perhaps a bit atypical, but it might be useful to have a master checklist to keep track of some of the publication milestones. Perhaps even just a condensed version?

[2019-07-09 08:40] arnabp opened #106 "Camera and Erase buttons too large"
Due to some layout adjustment changes in #102 the camera and erase button layouts were changed. This cause them to become too large, which doesn't fit with the general phet style. These buttons should be much smaller, as they were in [1.0.0-rc.2](https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.0-rc.2/phet/blackbody-spectrum_all_phet.html)

[2019-07-09 20:24] arnabp commented on #106
Camera and Erase buttons should now be back to their original sizes (plus or minus a couple pixels). You can compare to [1.0.0-rc.2](https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.0-rc.2/phet/blackbody-spectrum_all_phet.html) for an idea of what size it was supposed to have been.

[2019-07-09 20:26] ariel-phet commented on #106
@arnabp we probably also want to revise the screenshot on the sim page, this might require one or two steps with @mattpen

[2019-07-09 20:57] arnabp commented on #102
Reopening for testing purposes since this is directly correlated with #106 and should be spot checked for the maintenance release.

[2019-07-09 21:23] arnabp commented on #106
The restored buttons can be seen in [1.0.1-rc.2](https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.1-rc.2/phet/blackbody-spectrum_all_phet.html). @arouinfar can you take a look and make sure it is now the appropriate size?

[2019-07-09 23:49] arouinfar commented on #106
Looks much better now @arnabp, thanks!

[2019-07-10 20:18] KatieWoe commented on #106
This looks ok on 1.0.1-rc.2

[2019-07-10 22:45] KatieWoe commented on #102
Looks good in 1.0.1-rc.2

[2019-07-10 22:45] #102 closed

[2019-07-16 18:04] ariel-phet opened #107 "Improvements to temperature slider and tick marks"
@kathy-phet pointed out several improvements to make regarding the slider and layout of the tick marks. Labeling these improvements as top priority for @DianaTavares since we need to do a rerelease of this sim anyhow.

KP pointed out several issues:

1. It is difficult to get reproducible numbers on the slider, which could make it more difficult to see what happens when you double or quadruple the

[2019-07-16 18:04] ariel-phet commented on #107
Tagging @arouinfar to see if she has any other input

[2019-07-16 18:10] arouinfar commented on #107
@ariel-phet that all sounds good to me, and I think 10 K would be a preferable snap level. In all honesty, it's such a small increment (~1/1000 of the range) that I doubt the slider would even feel snappy.

[2019-07-16 18:19] kathy-phet commented on #107
It's actually important that it is snappy enough to be actually reproducible to achieve the goal, so I think 1000 points is too many as that will take pretty precise pixel control given that the slider may not even be 1000 pixels tall. Could the jumps be 50 degrees, so there are ~200 points in the slider?

[2019-07-16 18:21] DianaTavares commented on #107
I agree.

1.  I also think that 50 K as Kathy said is good

2. Then the round number of the objects are:
Earth 300 K
Light bulb 3000 K
Sun surface  6 000 K
Sirius A star surface 9 900 K

3. Agree with the marks 500 degrees apart (small, 1000 for the big mark)

4. With the round number for the objects in point 2, all of them match with a thermometer mark.

[2019-07-16 18:22] ariel-phet commented on #107
@arnabp make it so!

[2019-07-16 18:23] kathy-phet commented on #107
This article says the sun is actually 5800K blackbody.
https://www.acs.org/content/acs/en/climatescience/energybalance/energyfromsun.html

[2019-07-16 18:26] DianaTavares commented on #107
Sorry, I did a big step, then the temperatures are:
Earth 300 K
Light bulb 3000 K
Sun  5 800 K
Sirius A  9 900 K

[2019-07-16 18:28] kathy-phet commented on #107
And the blackbody temperature of the earth is 252K. It's surface is hotter because of the greenhouse effect, but we should probably use its effective blackbody temperature (as seen from space). So 250K?

[2019-07-16 18:28] kathy-phet commented on #107
https://en.m.wikipedia.org/wiki/Effective_temperature

[2019-07-16 18:31] DianaTavares commented on #107
and the Sirius A is 9940, then is better to use 9950 that is closer:

Earth 250 K
Light bulb 3000 K
Sun 5 800 K
Sirius A 9 950 K

[2019-07-16 18:39] kathy-phet commented on #107
Final suggestion - I think I would stick to going up to 11,000 with the 50 deg snapping, because some stars are hotter and labels will look nicer being away from the very top.

[2019-07-16 22:07] oliver-phet opened #108 "User feedback: continuous spectra"
Like most introductory discussions of thermal radiation, this presentation over-simplifies two fundamental aspects of the subject. It simplistically refers to "the peak" of the BB spectrum, and to the "color" perceived by the human eye.

The perennial confusion comes from the inherent mathematical subtlety of continuous spectra.  For a quick overview, see:

<"Where is the 'Wien peak'?" Amer. J. Ph

[2019-07-17 01:07] arouinfar commented on #108
Here's a link to the reference cited by the user:
http://atoc.colorado.edu/~pilewskp/where%20is%20the%20wien%20peak.pdf

Reading through the reference, it seems like the user may want us to display the value at the "peak" of this so-called "median" integral (which would require some nasty numerical integration to figure out this wavelength, according to the footnote), instead of the at the true pe

[2019-07-17 21:47] ariel-phet commented on #108
@arouinfar yes, I can respond to the user. I will get contact info from @oliver-phet.

I don't think we need to change anything about the presentation, the sim, or the teacher tips.

[2019-07-17 22:02] ariel-phet commented on #108
Responded to the user, closing.

[2019-07-17 22:02] #108 closed

[2019-07-17 22:15] arouinfar commented on #108
Thanks @ariel-phet!

[2019-07-23 23:11] arnabp commented on #107
Changes have been made and approved by Kathy. Moving forward to RC testing

[2019-07-24 15:42] KatieWoe commented on #107
All seems to be as indicated here in 1.0.2-rc.1 except one thing: The lowest temp is 200, not 250 as stated in  https://github.com/phetsims/blackbody-spectrum/issues/107#issue-468790699.  However, I think this works better and it should stay as it is.

[2019-07-24 16:50] ariel-phet commented on #107
This seems fine to me

[2019-07-24 16:50] #107 closed

[2019-07-24 16:52] ariel-phet opened #109 "Color mapping seems incorrect for 1.0.2-rc.1"
Comparing 1.0.2-rc.1 to the currently published version (and to the flash version), the color mapping seems incorrect.

In 1.0.2-rc.1 for the RGB display I am already seeing some color at 300 K.

Something is off here and the color mapping should probably closely mimic the flash version.

[2019-07-24 16:53] ariel-phet commented on #109
Related to https://github.com/phetsims/QA/issues/376

[2019-07-24 16:54] ariel-phet commented on #109
@KatieWoe to confirm for me and so she is aware of this current bug

[2019-07-24 17:14] KatieWoe commented on #109
Good catch.  This rc is slightly different than published.  I will note that it is deliberately different from the flash version from what I understand (the visible spectrum used was changed slightly to conform with the range used by other html sims).  @DianaTavares and @arnabp to determine what behavior is desired and where the change might have come from.

[2019-07-24 18:06] KatieWoe commented on #109
The differences seems easiest to see at the extremes of the available temperatures.  The first gif shows the highest temperature and that the intensity seems to be a bit different between the rc and the published version, but I can't see any color difference.  The second gif shows the temperature I was able to start seeing color.
![slightintensityshift](https://user-images.githubusercontent.com/41

[2019-07-24 19:17] #106 closed

[2019-07-24 19:27] kathy-phet commented on #109
Hi All, It seems like there are 2 points here:

1) The visible spectrum shown on the graph. Here the current HTML5 sim is more accurate in terms of its colors and where the color changes occur. The flash one is off a bit, having green where it should have already transitioned to yellowish-orange (my phd thesis was on 585nm light absorption so I know this color well).

2) The color shown on the com

[2019-07-26 18:15] jonathanolson commented on #109
It looks like one of the above commits WAS included on the 1.0 release branch for the simulation, but I don't see an RC or other evidence of testing.

This means that this change will be picked up in the RC made automatically for the automated maintenance for https://github.com/phetsims/phet-ios-app/issues/512, and we'd need to pay special attention otherwise it would get pushed out without being

[2019-07-26 20:37] arnabp commented on #109
This is being tested in phetsims/QA#382. I talked with @jonathanolson and we will be coordinating two different RC tests before this sim is ready for production deployment.

[2019-07-27 16:51] lmulhall-phet commented on #109
Going off of https://github.com/phetsims/blackbody-spectrum/issues/109#issuecomment-514767304...

1. It didn't sound like @kathy-phet wanted anything changed here.
2. At 800K on macOS + Chrome + full brightness, I can just barely see a dark red sun, so 👍.

[2019-07-27 18:12] lmulhall-phet commented on #109
I may have spoken too soon. On my iPad Pro (iOS 12.3.1) + Safari + full brightness at 800K, I can't quite see the sun. @KatieWoe, it would be a good idea to check this on some of our test devices to see if the sun is visible at 800K.

[2019-07-27 20:48] kathy-phet commented on #109
Hi Liam, at what temp can you see the start of a sun on that device? Thx

Sent from my iPhone

On Jul 27, 2019, at 12:12 PM, Liam <notifications@github.com<mailto:notifications@github.com>> wrote:

I may have spoken too soon. On my iPad Pro (iOS 12.3.1) + Safari + full brightness at 800K, I can't quite see the sun. @KatieWoe<https://github.com/KatieWoe>, it would be a good idea to check this on so

[2019-07-27 20:57] lmulhall-phet commented on #109
I can start to see the sun at 850K on that iPad and I see the same issue (not being able to see the sun at 800K) on Win10 + Firefox on my PC at home, but that may have to do with monitor settings etc.

[2019-07-28 02:22] kathy-phet commented on #109
I would say this is all seems fine since it doesn’t take much higher to see it.

Sent from my iPhone

On Jul 27, 2019, at 2:57 PM, Liam <notifications@github.com<mailto:notifications@github.com>> wrote:

I can start to see the sun at 850K on that iPad and I see the same issue (not being able to see the sun at 800K) on Win10 + Firefox on my PC at home, but that may have to do with monitor settings

[2019-07-29 15:57] KatieWoe commented on #109
Confirming what @lmulhall-phet saw.  I would agree with @kathy-phet, it looks pretty comparable to the flash version.

[2019-07-29 15:59] #109 closed

[2019-07-29 20:18] oliver-phet opened #110 "User feedback: flux values"

[2019-08-12 21:22] oliver-phet commented on #110
@DianaTavares You were the designer for this sim. Any comments?

[2019-08-16 18:12] arnabp commented on #7
@samreid Sim is published, you can now follow up with the teacher with the good news on the new feature!

[2019-08-16 18:13] arnabp commented on #16
Credits were completed and sim was published, closing

[2019-08-16 18:13] #16 closed

[2019-08-19 03:20] samreid commented on #7
I responded to the teacher, thanks everyone for your work on this issue.  Closing.

[2019-08-19 03:20] #7 closed

[2019-08-29 00:09] DianaTavares commented on #110
Hi Oliver,
Thanks for giving me this feedback. The teacher is right. Its a differente in the sectral radiance in the HTML5 version and in the flash version:
![Screen Shot 2019-08-28 at 6 48 12 PM](https://user-images.githubusercontent.com/26031501/63900378-f94faf00-c9c5-11e9-8dd2-d1b305192b3b.png)
![Screen Shot 2019-08-28 at 6 48 19 PM](https://user-images.githubusercontent.com/26031501/63900379-f

[2019-08-29 04:51] kathy-phet commented on #110
I do think the teacher is correct. I think it would be good to see if Mike Dubson has 15 minutes to consult with @arnabp on the model here.

[2019-08-29 16:29] ariel-phet commented on #110
@arnab it seems that there is basically just a factor of pi missing, can you try making that change and verify between the HTML5 and flash version?

[2019-08-29 17:16] arnabp commented on #110
Doing some research into this, most definitions of Spectral Radiance included the factor of pi, which made it difficult to confirm where it was supposed to be taken out....until I found out that it was labeled under a different definition: "flux density".

Which I believe raises the question of whether the y-axis label should be changed to Flux Density instead of Spectral Radiance (the units of th

[2019-08-29 21:09] arnabp commented on #110
@kathy-phet and @arouinfar talked to Mike Dubson about label nomenclature and we decided to move forward "Spectral Power Density". It was briefly reviewed to look good in the sim. I've implemented the changes to master, does this satisfy the core issue?

[2019-08-29 21:18] arnabp commented on #110
I believe I've spoken too soon about the issue being resolved, as there's now a new one. With the new calculation to spectral power density, the graph at the max temp of 11000 K now looks like this:
<img width="1438" alt="Screen Shot 2019-08-29 at 3 16 41 PM" src="https://user-images.githubusercontent.com/8583364/63977078-0aed9100-ca70-11e9-8845-fb4c85b7bdeb.png">

The scale max scale level on the

[2019-08-29 21:48] DianaTavares commented on #110
I don't think we need to change the values to scientific notation for the max values in the y-axis. I think that the numbers can be read very well the way they are.

But a new click zoom is needed in order to see all the bigger curves from 8800 to 11000K. I suggest adding on click to the zoom to increase the Max range the axis to 2100.

What do you think @ariel-phet ?

[2019-08-29 21:53] arouinfar commented on #110
Some further notes to extend https://github.com/phetsims/blackbody-spectrum/issues/110#issuecomment-526362780

While Mike Dubson found "Spectral Power Density" to be the most precise term, it was not his preferred option. He would prefer a more succinct option such as "Intensity" or "Flux". In his opinion, these terms are sufficiently vague to be scientifically accurate, while the units clarify th

[2019-08-29 22:42] kathy-phet commented on #110
Assigning back to @arnabp to add another vertical click zoom to set max range on the vertical axis so it fits on scale - as suggested by @DianaTavares .

[2019-08-30 18:56] arnabp commented on #110
The scale factor on the y axis is 5, so the next natural step up from 700 is 3500. If I set the max at 2100 then going back down results in 420 instead of 700 (this can be modified if needed, but I think there's still something to be said about having only the top step scale differently than the rest of the y axis zoom levels). Here is what 11000 K looks like with 3500 scale:

<img width="1440" al

[2019-08-30 20:36] arnabp commented on #110
I'm passing this off to @jbphet since I'm leaving.

Diana noted in slack that at 3500:

I've committed the 3500 to master for now. A change to the `maxVerticalZoom` constant in `BlackbodyConstants.js`. If scaling does end up needing to changed to fit the max down to 2100, you'll find the `verticalZoomFactor` option in `ZoomableAxesView` and the method that gets called when that zooming occurs at l

[2019-08-30 23:55] kathy-phet commented on #110
@DianaTavares @jbphet - Can we meet briefly on Tuesday to nail this down? I sent an invite.

[2019-08-31 00:07] DianaTavares commented on #110
Yes, I can. I just accept the invitation

[2019-09-03 20:32] jbphet commented on #110
@DianaTavares, @kathy-phet, and I met today and discussed the issue and made some changes to the min, max, and default vertical zoom settings.  We noticed some "brittleness" in the code, which I will work to fix at some point, but for now I've committed the changes we made, and will start moving all related changes to the release branch, and will put out a maintenance release.  @kathy-phet said th

[2019-09-03 20:47] jbphet commented on #110
**IMPORTANT NOTE** - the changes that have been made up to this point will cause all translations of the Y-axis label to be lost when the maintenance release is complete.  This issue should be assigned to @oliver-phet once publication is complete so that he can let translators know that they will need to address this.

[2019-09-04 18:52] jbphet commented on #110
I've published an RC version and set up a ticket for QA to test it.  @kathy-phet and @DianaTavares - you should also check it out and chime in on whether the behavior appears correct.  You can find the RC at https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.4-rc.1/phet/blackbody-spectrum_all_phet.html,

[2019-09-04 19:12] DianaTavares commented on #110
I already play with the sim and looks very good!

[2019-09-05 18:18] KatieWoe commented on #110
I checked against a few points on the flash sim and the results seemed comparable to me.  Closing for 1.0.4-rc.1

[2019-09-05 19:39] KatieWoe commented on #92
Should this be examined @DianaTavares?
![peakofanarrow](https://user-images.githubusercontent.com/41024075/64375201-a471f100-cfe2-11e9-87a4-a271baf1a83c.gif)

[2019-09-05 19:45] DianaTavares opened #111 "Improvements in the design: 4 sig figs, fade in the edge of the visible spectrum"
Mike D suggested the next improvements for the sim design:

- [ ]  Reduce "Graph Values" readout to 4 sig figs on the vertical axis (horizontal is good)
- [ ]  Red and purple edge on the of the vertical spectrum should have a fade (see flash version)

![image](https://user-images.githubusercontent.com/26031501/64375509-b1471280-cfeb-11e9-9c5b-f9584830339b.png)

[2019-09-05 19:56] DianaTavares commented on #92
Do you mean that a tiny section fo the arrow still visible? I remember that @arnabp said that it is not a way to tell the arrow to disappears when it is outside the graph. For that reason, we put the background color to the value's label to cover the arrow. If we do that background bigger, it is going to cover part of the zero. Then I think that is ok the way it is now.

[2019-09-05 19:57] KatieWoe commented on #92
Ok.  Thanks for the clarification.

[2019-09-05 20:03] KatieWoe opened #112 "Blue arrow covers long text"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/422.  Occurs in published sim.  Seems quite minor.
The blue arrow that controls temperature overlaps with the text above the thermometer when strings are long and the arrow is at the top.

**Visuals**
![bluearrowcovers](https://user-images.githubusercontent.com/4102

[2019-09-05 20:19] DianaTavares commented on #112
The arrow can be a couple of pixels smaller

[2019-09-05 20:46] loganbraywork opened #113 "Lines appear to cut through the visible spectrum when changing temperature"
**Test device**
Windows 7 laptop
**Operating System**
6.1.7601
**Browser**
Mozilla Firefox
**Problem description**
From https://github.com/phetsims/QA/issues/422

When adjusting the temperature slider or moving the "graph values" point, lines will sometimes appear and disappear across the visible spectrum.
Of note; over time the issue does seem to come and go frequently.
**Steps to reproduce**
1.

[2019-09-05 23:26] DianaTavares commented on #113
It doesn't happen on my computer. I hope @jbphet can find the problem

[2019-09-06 16:48] jbphet commented on #113
@loganbraywork - is this problem unique to version 1.0.4-rc.1, or is it present in the currently published version (v1.0.3)?

[2019-09-06 19:38] KatieWoe commented on #113
I did a quick check.  I did not see it to the extent shown in the video above.  The video's behavior does seem concerning to me.  What I saw on my device does not.  @loganbraywork can you check the published version with the setup you used?  I didn't see in published, but the issue wasn't as pronounced for me to begin with.

[2019-09-06 19:44] KatieWoe commented on #113
Clarification from @loganbraywork.  The pixilation in the gif is due to a low quality gif.  What I saw was indicative of the issue.  It does happen in the published version.  Given all of this, this is a low priority issue.

[2019-09-06 22:21] jbphet commented on #112
I would argue against the idea of changing the size of the temperature drag handle for this.  The normal value of the string is "K" (for degrees Kelvin), so the idea that someone would translate it with anything nearly as long as the string shown above seems tremendously unlikely, and reducing the size of the drag triangle reduces its visibility and ease of use.  Also, the problem only exists at t

[2019-09-06 22:28] DianaTavares commented on #112
I agree with @jbphet I don't think that "K" is going to be translated to something very large (over 10 characters). I suggest to leave it the way it is.

[2019-09-06 22:46] jbphet commented on #110
Reopening since there needs to be some followup on this.  @oliver-phet - The fix has been made and the sim has been republished.  Can you please:
[ ] - Let the original reporter of this issue know about the update
[ ] - Inform translators that the wording of the y-axis label has changed and will need to be retranslated

So that the translation issue is clear, here is a screenshot of the Chinese tr

[2019-09-06 22:55] arouinfar commented on #112
@jbphet I'd also vote to leave it as-is.

[2019-09-06 22:55] arouinfar commented on #112
Since there aren't any changes we'll need to make, I'll go ahead and close.

[2019-09-06 22:55] #112 closed

[2019-09-09 18:59] oliver-phet commented on #110
- [ ] Let the original reporter of this issue know about the update
- [ ] Inform translators that the wording of the y-axis label has changed and will need to be retranslated

[2019-09-09 18:59] #110 closed

[2019-09-09 21:34] oliver-phet commented on #110
Reply from user:

[2019-09-10 17:30] jbphet commented on #113
I'm not able to duplicate the issue on my machine in Firefox at all, neither on the main screen or my additional monitor.  I just discussed it with @KatieWoe, and she was able to demonstrate it on her Windows machine, but the effect is quite subtle and went away fairly quickly after additional interaction.  The GIF shown above is pretty misleading in that regard.

Since this is almost certainly a

[2019-09-11 01:55] ariel-phet commented on #113
I tried to reproduce on my Win 7 firefox computer and saw nothing.

That would suggest this is a potentially device specific issue.

@KatieWoe if @loganbraywork was doing this testing on a personal machine, lets not use that machine for future testing.

marking as `wontfix` and assigning to @KatieWoe to close after reading this comment.

[2019-09-16 15:14] ariel-phet commented on #111
@DianaTavares please make these suggestions two separate issues, close this one, and then assign me, thanks!

[2019-09-16 16:57] DianaTavares opened #114 "Reduce "Graph Values" readout to 4 sig figs on the vertical axis"
Mike D suggested reducing the Graph Values" readout to 4 sig figs on the vertical axis (horizontal is good). I think it is a good suggestion.

[2019-09-16 17:02] DianaTavares opened #115 "The vertical edges of the visible spectrum should have a fade"
Another Mike D. suggestion is that the red and purple vertical edges of the visible spectrum should have a fade. See the next example from the sim flash version:
![image](https://user-images.githubusercontent.com/26031501/64977730-968d5d00-d879-11e9-97d6-251eb8445d0b.png)

[2019-09-16 17:03] #111 closed

[2019-09-17 18:40] ariel-phet commented on #115
@chrisklus I think this is a "fairly" easy change, if it turns into something complex, let me know.

[2019-09-17 18:41] ariel-phet commented on #114
@chrisklus this change I would think should be quite straightforward, worth doing before the spectrum change #115

[2019-09-24 02:37] chrisklus commented on #114
Ready for review. I only saw one usage of number's `toPrecision()` method, so I'm waiting to hear if we have a PhET-specific way of setting sig figs (though I didn't find much).

Also, I noticed that at 200 and 250 K, the x-axis outputs 5 sig figs, as well as 3 sig figs for values less than 1 (if I'm not mistaken). Should these be modified as well?

[2019-09-26 17:31] DianaTavares commented on #114
I like that now the sim looks more symmetric with the four sig figs, except for small numbers. I understand that it still being 4 sig fig, but I feel it very tie (top picture is published sim version, bottom picture is @chrisklus  version):

![Screen Shot 2019-09-26 at 12 17 40 PM](https://user-images.githubusercontent.com/26031501/65710850-643de580-e059-11e9-98c0-b270cfaf9f04.png)
![Screen Shot 2

[2019-10-02 01:29] ariel-phet commented on #114
@DianaTavares @chrisklus frankly the sig figs on this sim are all over the map, there is really no consistency, and I don't think it is worth the effort to try to get it consistent (x axis varies, y axis varies, intensity, sig figs in temperature...)

@chrisklus currently the sim looks like on the y-axis (on master) it is doing something like

Numbers above 100: ###.#
Numbers between 10-100: ##.##

[2019-10-08 04:23] ariel-phet opened #116 "Blackbody Spectrum Master Checklist"
# Blackbody Port Master Checklist

## Design
- [x] **Sim folder and design doc created** (Date: 09/14/2017)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Sim suggestions doc reviewed** [suggestions doc](https://phet.unfuddle.com/a#/projects/9404/no

[2019-10-08 04:24] ariel-phet commented on #105
Done in #116

[2019-10-08 04:24] #105 closed

[2020-02-17 16:24] KatieWoe opened #117 "CT impossible set state"
[code]

[2020-03-06 22:23] KatieWoe opened #118 "Studio and State don't function"
For ES6 Testing on master. When a sim is launched from studio it doesn't seem to reflect any of the changes made, and the sim seems to be frozen. Only a few actions seem to be reflected in the state wrapper.

[2020-05-11 23:51] chrisklus commented on #117
On Friday I started looking into fixing this since the team was requested to clear up CT a little. I started by converting to PhetioGroup, but was still getting the same error. @zepumph assisted by pointing out that Group elements need an IO type even if only the element's children are stateful (as is the case in `BlackbodyBodyModel`). @zepumph also removed this sim from state testing before knowi

[2020-05-29 18:11] oliver-phet opened #119 "User suggestion: wavelength and frequency units toggle"
Blackbody curves graphed in wavelength units like this one are very misleading.  For example, this makes it look like the sun emits most of its energy in the visible part of the spectrum, when, in fact, more of the sun's energy is emitted in the infrared than in the visible.  The way to see this is to have an option to switch the graph to frequency units.  Then the user could properly see where mo

[2020-06-08 21:34] jbphet commented on #117
@chrisklus - thanks for the clear explanation, I appreciate it.

I don't love this solution since it reduces the generality of the simulation.  However, I understand the tradeoffs between getting something working and keeping it general, and I'm somewhat familiar with the challenges of using `PhetioGroup` for dynamic elements.

Agreed, let's not do too big of a refactor at this point.

@chrisklus

[2020-09-22 19:22] oliver-phet opened #120 "User suggestion: increase temperature range to 0 K up to 30 000 K"

[2020-09-29 05:31] arouinfar commented on #120
@oliver-phet I think the user is thinking of some other interactive. The range of temperatures in the Flash version is 300 - 9255 K and has been since the 1.0 release. We expanded the range in the HTML5 version to 200 - 11000 K. From what I recall (feel free to correct me if I'm wrong @DianaTavares), there were real design challenges in accommodating such a large range, and I don't think we would

[2020-09-29 14:58] DianaTavares commented on #120
That is true! the HTML5 version has a bigger range of temperatures that the Flash. And the issue with increasing the temperature range is to adjust the zoom to visualize all the curves in the graph. Already the user needs several clicks to move from the bigger range to the smaller. I agree with @arouinfar

[2020-09-29 15:43] oliver-phet commented on #120
Reply to user sent, closing!

[2020-10-01 16:41] oliver-phet commented on #120
Reply back from user: (it seems you could actually enter a value of 40,000 in the Flash version, even though the slider only went to 9255 K).

![Planck-curve 3 K](https://user-images.githubusercontent.com/5090275/94838139-6526f700-03d2-11eb-9be0-20e097823e43.png)
![Planck-curve 40000 K](https://user-images.githubusercontent.com/5090275/94838164-6e17c880-03d2-11eb-900f-33d40f989809.png)
![Cobe](htt

[2020-10-01 19:24] DianaTavares commented on #120
Oh, that is true, in the flash sim you really can put any value, even negative:
![image](https://user-images.githubusercontent.com/26031501/94853621-471cbf00-03f1-11eb-80e7-46cc76c032fc.png)

Something that doesn't have sense. But the truth is that allows us to have a bigger max temperature requires a lot of changes,  the graph, and the values. It is not easy to do task.

[2020-12-03 20:24] oliver-phet commented on #120
@DianaTavares can this issue be closed?

[2020-12-03 21:56] DianaTavares commented on #120
yes!

[2020-12-03 21:56] #120 closed

[2020-12-15 03:26] DianaTavares opened #121 "User question about the method to produce the star's color in the sim"
This is an email sent by a user to PhEThelp:
_____ email___

Hello,

I am an astrophysics PhD graduate student at the University of North Carolina. I was looking at the Blackbody Spectrum Phet simulation (https://phet.colorado.edu/en/simulation/blackbody-spectrum), and noticed that in the panel, there is a star symbol that is used to represent the true color of the star that would have that blackb

[2020-12-16 01:45] ariel-phet commented on #121
@DianaTavares the model for the stars color can be found in this file: https://github.com/phetsims/blackbody-spectrum/blob/4d8b70c78ee85210d7b79661c65c5ba8732c8273/js/blackbody-spectrum/model/BlackbodyBodyModel.js

It is pretty well documented. Basically the power spectral density for 3 wavelengths are calculated (Red, Green, and Blue) and there is some renormalization done. Those calculations are

[2020-12-16 01:52] DianaTavares commented on #121
Thanks! I just send the email to the user with this information.

[2020-12-16 01:52] #121 closed

[2021-01-25 23:22] ariel-phet opened #122 "Sim Primer"
When sim primers become a priority for the project again, this sim needs a primer.

[2021-01-26 17:05] arouinfar commented on #116
Interview notes have been added to the design doc, closing.

[2021-01-26 17:05] #116 closed

[2021-02-25 20:48] pixelzoom opened #123 "Convert to one of the ZoomButtonGroup subclasses"
From https://github.com/phetsims/scenery-phet/issues/652, this sim is a candidate for converting to one of the ZoomButtonGroup subclasses.  The Buttons screen of the scenery-phet demo shows the 2 subclasses (screenshot below), PlusMinusZoomButtonGroup on the left, MagnifyingGlassZoomButtonGroup.  If you don't want to change the look of the sim, use MagnifyingGlassZoomButtonGroup.  If you think the

[2021-03-18 18:08] chrisklus commented on #117
I looked into this again and still feel the existing state is the best solution. The original implementation was not general to any number of saved bodies, see [here](https://github.com/phetsims/blackbody-spectrum/commit/f4dc039cc626b296e4c0f3a28f7ab2cfb3cb5df4#diff-98629061fa4e52975e4952c7f72bd993f4093aa95f4680366bf3dfc7aba86371L259), and the new implementation is cleaner and simpler in my opinio

[2021-03-18 18:08] #117 closed

[2021-03-19 21:23] chrisklus commented on #117
Oops, I forgot to commit my comment, added above.

[2021-05-24 20:46] jbphet opened #124 "Adjust max width values to better support Arabic (and other) translations"
@issamali67 has been working on translating this sim into Arabic, and ran into a few issues.  He and I just met over Zoom and tried some modifications to his strings and were able to solve some of the problems that way, but there are two more changes that would help.  They are:

1. The Arabic words for Red, Green, and Blue all start with the same letter, so a single letter can't be used for the RG

[2021-05-24 21:30] jbphet commented on #124
I've committed changes for these two things.  I believe that release branches are currently considered "locked down" based on what @jonathanolson said [in this comment]](https://github.com/phetsims/states-of-matter/issues/354#issuecomment-847194427), so I'll work with him on how to get these changes into a maintenance release.

@jonathanolson - How do I go about getting the two changes listed abov

[2021-06-02 18:46] jonathanolson commented on #124
Is it a possibility for me to just roll those patches into the latest release branch and have them tested? I just put out RCs for maintenance (so we could also wait until that's fully handled).

[2021-06-09 21:15] jbphet commented on #124
@jonathanolson - Yes, absolutely, you can roll these changes into the release branch and incorporate them into the next RC.  Please let me know when you do and I'll double check them, but I think they are pretty straightforward.

[2021-06-10 04:01] jonathanolson commented on #124
Rolled into the maintenance release, cherry-picked above (needed manual changes for everything, please verify), and deployed an RC at https://phet-dev.colorado.edu/html/blackbody-spectrum/1.0.8-rc.3/phet/blackbody-spectrum_all_phet.html for testing.

[2021-06-10 04:01] jonathanolson commented on #124
Let me know if this looks ok?

[2021-06-10 16:03] issamali67 commented on #124
Question: this is the English Blackbody sim. How would I see the effects on
the Arabic translation?

On Wed, Jun 9, 2021 at 10:02 PM Jonathan Olson ***@***.***>
wrote:

[2021-06-10 22:26] KatieWoe commented on #124
This was checked in https://github.com/phetsims/QA/issues/656. Looks ok with both `?stringTest=rtl` and `?stringTest=long`

[2021-06-11 18:58] jbphet commented on #124
@issamali67 - You can't see the full effect on the Arabic translation from the RC version, but you _can_ see how a single string would look in place of all strings.  You and I did this when we met over Zoom and made adjustments.  To do it, you use the query parameter `stringTest=XX` where the XX is whatever string you'd like to test.  Here is a screenshot of the sim with `stringTest=مخضر` (which G

[2021-06-11 18:59] jbphet commented on #124
@jonathanolson - Yes, version 1.0.8-rc.3 looks good with respect to this issue, please feel free to move forward with publication.

[2021-06-11 21:18] jonathanolson commented on #124
Sounds good, I'll be tracking it and will comment here once it's pushed out!

[2021-06-14 22:29] issamali67 commented on #124
I submitted the Arabic translation for Blackbody Spectrum sim.

On Fri, Jun 11, 2021 at 3:19 PM Jonathan Olson ***@***.***>
wrote:

[2021-06-18 15:31] jonathanolson commented on #124
Closing, handled in maintenance release deployment.

[2021-06-18 15:31] #124 closed

[2021-11-22 22:15] arouinfar opened #125 "Reduce minimum temperature to 3K to support CMB goals"
A user wrote into phethelp requesting the ability to reduce the temperature to 3K, as they are unable to use the HTML5 version to fulfill their learning goals.

A similar request was made in https://github.com/phetsims/blackbody-spectrum/issues/120 and the user there also had goals related to the cosmic microwave background (CMB). Let's revisit when this sim gets worked on again.

[2022-01-13 17:11] oliver-phet opened #126 "User suggestion: Auto scale on the vertical axis"
![image](https://user-images.githubusercontent.com/5090275/149376561-3e8a5205-35b2-4989-b6b6-732f921d8e07.png)

[2022-01-13 17:23] DianaTavares commented on #126
I love this idea of an autoscale option that is not the default. I will discuss it with the design team.

[2022-01-19 20:06] mattpen opened #127 "Redeploy images"
@DianaTavares has uploaded new screenshots for blackbody spectrum, and they need to be deployed to the website without a maintenance release.  I'll redeploy the images.

[2022-01-19 23:35] mattpen commented on #127
This is complete.

[2022-01-19 23:35] #127 closed

[2022-04-22 21:18] DianaTavares commented on #126
This is an idea of how to attend to this user suggestion:

Add a fourth checkbox to the checklist located next to the Blackbody Temperature slider. Label this new checkbox as Auto-scaling (see image below), and once it is marked, it allows the user to freely change the temperature without having to manually use the zoom-in or zoom-out buttons in the axes. The graph would automatically scale itself

[2022-04-27 15:31] ariel-phet commented on #126
@DianaTavares if the graph is autoscaling I think it should autoscale while the user moves the slider, I think it will be an odd interaction if you move to a new temperature and the graph does not scale until you release the control.

As for having a developer work on this, I would suggest you bring it up at status or design meeting and ask @kathy-phet

[2022-07-14 15:38] KatieWoe opened #128 "CT cannot set properties of undefined"
[code]

[2022-07-21 21:29] jbphet commented on #128
@marlitas - I believe this is a consequence of a commit you made for the triangle node, see https://github.com/phetsims/blackbody-spectrum/commit/fa891a6d8b7612c1d2cf81e0e3db34effe14fd27.  You can duplicate the problem by hitting the reset button.

[2022-07-22 23:28] marlitas commented on #128
@jbphet thanks for bringing to my attention. I will address next week.

[2022-07-25 22:08] marlitas commented on #128
Accidentally eliminated an instance variable in the TriangleNode commit. Added the instance back in, fuzz tested, and appears to be working properly. Closing.

[2022-07-25 22:08] #128 closed

[2022-07-27 22:03] jbphet opened #129 "CT: required tandems must be supplied"
@marlitas - It looks like there is another CT error related to the usage of `TriangleNode` in addition to #128.  It is a phet-io problem and involves required tandems.  Below is the stack trace.  Please add the needed tandem(s), feel free to contact me if you need a hand.

[code]

[2022-07-28 22:33] marlitas commented on #129
@jbphet Thanks for dealing with me as I add more onto my list of things to test/check for when handling common-code/ other repos.

I did fuzz testing through PhET-iO studio, state wrapper, and unbuilt. I also hand checked things were running as expected and the tree looked appropriate in PhET-iO studio. I'm hoping this caught everything. Will keep an eye on CT the next few days to make sure it's a

[2022-08-01 14:43] marlitas commented on #129
CT looks clear. Closing.

[2022-08-01 14:43] #129 closed

[2022-10-19 00:21] jbphet commented on #123
I've converted the sim to use MagnifyingGlassZoomButtonGroup.  I decided to keep it simple and leave it looking the same and not involve the designers.  Besides, I like the magnifying glasses.  Closing.

[2022-10-19 00:21] #123 closed

[2022-10-21 12:13] pixelzoom opened #130 "Use VBox for contentNode in AvailableDecaysPanel"
In order to replace HSeparatorDeprecated with HSeparator, and just "in general"...

AvailableDecaysPanel.ts should use a VBox for its contentNode.  VBox will handle the layout for you, as well as the resizing of the HSeparator.  It current uses a Node for contentNode, with a bunch of manual layout that duplicates what VBox will handle.

[2022-11-09 22:36] jbphet commented on #130
I think this was put in the wrong repo, since `AvailableDecaysPanel` is a class in Build a Nucleus.  I will transfer.